@import '/styles/globals/breakpoints';
@import '/styles/globals/helpers';

.header {
  position: fixed;
  top: 0;
  z-index: var(--z-index-header);
  width: 100%;
}

.hasWishlistItems {
  svg path {
    fill: var(--color-primary-100);
  }
}

.headerTop {
  overflow: hidden;
  background: var(--color-primary-100);
  display: flex;
  height: 30px;

  @include bp(large) {
    height: 40px;
  }

  .marqueeTrack {
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-height: clamp(30px, 2.08vw, 40px);
    width: max-content;
    justify-content: flex-start;
    will-change: transform;

    &.scrollingText {
      animation: marquee 80s linear infinite;
    }

    .trackGroup {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 50px;
      padding: 0 25px;

      @media (width<=767px) {
        gap: 40px;
        padding: 0 20px;
      }
    }

    .marqueeItem {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(14px, 1.04vw, 20px);
      font-family: var(--font-secondary);
      font-weight: 600;
      flex-shrink: 0;
      gap: 8px;

      @include bp(large) {
        gap: 10px;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.headerTop:hover .animateText {
  animation-play-state: paused;
}

.headerInner {
  @include center;

  height: var(--header-height);
  padding-inline: var(--container-inline-padding);
  background: var(--color-black-100);

  @include bp-below(large) {
    padding-inline: 10px;
  }
}

.grid {
  position: relative;
  display: grid;
  grid-template-areas: 'hamburger logo spacer call';
  grid-template-columns: 0fr 108px 10fr 88px;
  gap: var(--gap);
  width: 100%;
  height: 100%;
  align-items: center;

  @media (width<=767px) {
    gap: 16px;
  }

  @include bp(large) {
    grid-template-areas:
      'secondaryMenu secondaryMenu secondaryMenu secondaryMenu secondaryMenu secondaryMenu'
      'logo mainMenu mainMenu mainMenu vehicle vehicle';
    grid-template-columns: 130px 10fr 10fr 10fr 10fr 1fr;
    gap: 0 16px;
  }

  @include bp(full) {
    gap: 0 24px;
  }
}

.logo {
  @include center;

  grid-area: logo;

  svg,
  img {
    width: 108px;
    height: 40px;

    @include bp(large) {
      width: 129px;
      height: 48px;
    }
  }
}

.hamburgerContainer {
  @include center;

  position: relative;
  z-index: var(--z-index-hamburger);

  @include bp(large) {
    display: none;
  }
}

.mainMenu,
.secondaryMenu,
.socialMenu {
  display: none;

  @include bp(large) {
    display: block;
  }
}

.mainMenu {
  grid-area: mainMenu;
  justify-self: flex-start;
}

.secondaryMenu {
  grid-area: secondaryMenu;
  justify-self: flex-end;

  button {
    &.tertiary {
      background: #f00 !important;
    }
  }

  .headerButton {
    background: transparent;
    padding: 0;
  }
}

.mainMenuList,
.secondaryMenuList,
.socialMenuList {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.commonLinkButton {
  background: transparent;
  padding: 0;
}

.mainMenuList {
  white-space: nowrap;

  button {
    background: transparent;
  }

  @include bp(large) {
    gap: var(--gap-global-xs);
  }
}

.mainMenuButton {
  @include bp(large) {
    --inline-padding: 20px;
  }

  @include bp(full) {
    --inline-padding: 24px;
  }
}

.secondaryMenuList {
  gap: 16px;
  white-space: nowrap;
}

.socialMenuList {
  position: relative;
  margin-left: 17px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -17px;
    width: 1px;
    height: 16px;
    background: var(--color-white-20);
    transform: translateY(-50%);
  }
}

.cartCount {
  height: 12px;
  width: 12px;
  background: #ed2935;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  color: #000;
  position: absolute;
  right: -5px;
  top: -1px;
}

.secondaryMenuItem {
  @include center;

  font-size: 16px;

  &.cartButton {
    a {
      padding: 0;

      &:hover {
        background: transparent;

        svg {
          path {
            stroke: var(--color-primary-100);
          }
        }
      }
    }
  }

  &.wishlistButton {
    a {
      padding: 0;

      &:hover {
        background: transparent;

        svg {
          path {
            fill: var(--color-primary-100);
          }
        }
      }
    }
  }

  &.profileButton {
    a {
      font-family: var(--font-primary);
      font-size: 14px;
      padding: 6px 15px;
    }
  }
}

.socialMenuItem {
  @include center;

  width: 36px;
  height: 36px;
}

.menuLink {
  color: var(--color-white-100);
}

.spacer {
  flex-grow: 1;
}

.callButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  grid-area: call;

  @media (width<=1279px) {
    gap: 10px;

    a {
      padding: 5px !important;
    }
  }

  @media (width<=374px) {
    gap: 0;
  }

  @include bp(large) {
    display: none;
  }
}

.callButton {
  @include center;

  width: 101%;
  aspect-ratio: 1;
}

.vehicleSelection {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100%;

  @include bp(small) {
    max-width: 390px;
    width: auto;
  }

  @include bp(large) {
    @include center;

    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    grid-area: vehicle;
    justify-self: flex-end;
    gap: 8px;
    white-space: nowrap;
    color: var(--color-white-100);
    max-width: 100vw;
  }

  &.hideOnMobile {
    @include bp-below(large) {
      display: none;
    }
  }

  @include bp(full) {
    gap: 16px;
  }

  /* stylelint-disable selector-pseudo-class-no-unknown */
  :global(html.store-locator-fullscreen) & {
    /* stylelint-enable selector-pseudo-class-no-unknown */
    @include bp-below(medium) {
      display: none;
    }
  }
}
