@import '/styles/globals/typography';
@import '/styles/globals/helpers';

.container {
  position: fixed;
  left: calc(var(--container-inline-padding) + 160px);
  top: calc(var(--header-height) + 40px);
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1400px;
  padding: 0;
  border-radius: 0;
  color: var(--color-white-100);
  background: #0a0a0a;
  transition: opacity 150ms;
  opacity: 0;
  pointer-events: none;
  border-bottom: solid 3px #c00;

  @media (width <= 1799px) {
    max-width: 1240px;
  }

  @include bp-below(full) {
    max-width: 900px;
  }

  @include bp-below(large) {
    display: none;
  }

  &.isActive {
    opacity: 1;
    pointer-events: all;
  }
}

.filterList {
  padding: 8px 0 0;
  margin: 0;
  list-style: none;
  background: #111;
  min-width: 220px;
  border-right: solid 1px #222;
}

.filterItem {
  opacity: 0;
  transition: opacity 150ms;

  @for $i from 1 through 20 {
    .container.isActive &:nth-of-type(#{$i}) {
      transition-delay: #{100 + $i * 50}ms;
    }
  }

  button {
    padding: 15px 16px;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    border-left: solid 3px transparent;
    border-right: solid 5px #111;
    border-radius: 0;
    color: #999;
    font-weight: 500;

    &:hover {
      background: #111;
      color: #fff;
    }

    &[data-active='true'] {
      color: #fff;
      background: #1a1a1a;
      border-left-color: #c00;
      font-weight: 600;
    }

    svg {
      position: absolute;
      right: 25px;
      transform: scale(0.85);
    }

    @include bp-below(full) {
      padding: 12px 15px;
      font-size: 13px;

      svg {
        right: 15px;
        transform: scale(0.7);
      }
    }
  }

  .container.isActive & {
    opacity: 1;
  }
}

.productList {
  list-style: none;
  padding: 0 14px 0 0;
  margin: 0;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  max-height: calc(65vh - 158px);
  overflow: hidden auto;

  @include scrollbar;

  @include bp-below(full) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    max-height: calc(40vh - 44px);
    padding: 0 15px 0 0;
  }
}

.productItem {
  opacity: 0;
  transition: opacity 150ms;

  @for $i from 1 through 50 {
    .container.isActive &:nth-of-type(#{$i}) {
      transition-delay: #{100 + $i * 25}ms;
    }
  }

  .container.isActive & {
    opacity: 1;
  }
}

.productLink {
  display: flex;
  position: relative;
  border: solid 1px #fff;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  height: 100%;
  background: #141414;

  .productInfo {
    padding: 16px;

    .productTitle {
      @include paragraph-sm;

      font-family: var(--font-hind);
      font-weight: 600;
      font-size: clamp(14px, 1.041vw, 20px) !important;
      margin-bottom: 10px;

      @include bp-below(full) {
        margin-bottom: 8px;
      }
    }

    .productLinkLabel {
      color: var(--color-primary-100);
      display: flex;
      align-items: center;

      a {
        font-size: 13px;
        font-weight: 600;
        padding: 5px 8px 4px 10px;
        border-radius: 8px;
        color: #c00;
        background: transparent;
        display: flex;
        align-items: center;
        margin: 0 0 0 -10px;
        transition: 0.5s all;

        @include bp-below(full) {
          padding: 4px 8px 5px 10px;
          font-size: 12px;

          svg {
            margin: 0;
            transform: scale(0.5);
          }
        }

        svg {
          path {
            transition: 0.5s all;
            fill: #c00;
          }
        }

        &:hover {
          background: #c00;
          color: #fff;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }

      svg {
        margin: -1px 0 0 4px;
        transform: scale(0.7);
      }
    }
  }
}

.productImageWrapper {
  position: relative;
  width: 130px;
  flex: 0 0 130px;
  height: 123px;
  overflow: hidden;
  background-color: var(--color-white-10);

  @include bp-below(full) {
    width: 90px;
    flex: 0 0 90px;
    height: 90px;
  }
}

.productImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rightBlockMain {
  padding: 36px 16px;
  width: 100%;

  @include bp-below(full) {
    padding: 15px 16px 15px 0;
  }

  .categoryTitle {
    font-size: 13px;
    margin-bottom: 20px;
    font-family: var(--font-hind);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;

    @include bp-below(full) {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
}

.availableProducts {
  border-top: solid 1px #222;
  padding-top: 25px;
  margin-top: 25px;

  @include bp-below(full) {
    padding-top: 15px;
    margin-top: 15px;
  }

  .title {
    font-size: 14px;
    margin-bottom: 18px;
    font-family: var(--font-hind);

    @include bp-below(full) {
      font-size: 12px;
    }
  }

  .allLinks {
    display: flex;
    gap: 10px;

    a {
      background: #141414;
      border: solid 1px #333;
      font-size: 14px;
      padding: 0 19px;
      min-height: 43px;
      display: inline-flex;
      align-items: center;
      border-radius: 6px;
      transition: 0.5s all;

      @include bp-below(full) {
        padding: 0 10px;
        min-height: 32px;
        font-size: 12px;
      }

      &:hover {
        background: #c00;
        color: #fff;
        border-color: #c00;
      }
    }
  }

  .viewAll {
    margin: 20px 0 0;

    @include bp-below(full) {
      margin: 15px 0 0;
    }

    a {
      display: inline-flex;
      align-items: center;
      color: #c00;
      transition: 0.5s all;
      font-size: 15px;
      font-weight: 600;

      @include bp-below(full) {
        font-size: 12px;
      }

      svg {
        margin-left: 4px;
        transform: scale(0.7);

        path {
          transition: 0.5s all;
          fill: #c00;
        }

        @include bp-below(full) {
          margin-left: 2px;
          transform: scale(0.5);
        }
      }

      &:hover {
        color: #fff;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.directButtonLinks {
  .wrap {
    padding: 15px;

    .buttonItem {
      margin-bottom: 10px;

      .button {
        width: 100%;
        padding: 12px 10px;
      }
    }
  }
}
