@import '/styles/globals/typography';
@import '/styles/globals/helpers';

.container {
  position: fixed;
  left: var(--container-inline-padding);
  top: var(--header-height);
  display: flex;
  gap: 24px;
  width: fit-content;
  padding: 48px;
  border-radius: 24px;
  color: var(--color-white-100);
  background: var(--color-black-100);
  transition: opacity 150ms;
  opacity: 0;
  pointer-events: none;

  @include bp-below(large) {
    display: none;
  }

  &.isActive {
    opacity: 1;
    pointer-events: all;
  }
}

.filterList {
  padding: 0;
  margin: -12px 0 0 -24px;
  list-style: none;
}

.filterItem {
  opacity: 0;
  transition: opacity 150ms;

  @for $i from 1 through 20 {
    .container.isActive &:nth-of-type(#{$i}) {
      transition-delay: #{100 + $i * 50}ms;
    }
  }

  .container.isActive & {
    opacity: 1;
  }
}

.productList {
  list-style: none;
  padding: 8px 20px 8px 8px;
  margin: -8px;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 48px;
  max-height: calc(70vh - 144px);
  overflow: hidden auto;

  @include scrollbar;
}

.productItem {
  opacity: 0;
  transition: opacity 150ms;

  @for $i from 1 through 50 {
    .container.isActive &:nth-of-type(#{$i}) {
      transition-delay: #{100 + $i * 25}ms;
    }
  }

  .container.isActive & {
    opacity: 1;
  }
}

.productLink {
  display: block;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    inset: -8px;
    background: var(--color-white-10);
    border-radius: var(--border-radius-md);
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover::before {
    @media (hover: hover) {
      opacity: 1;
    }
  }
}

.productImageWrapper {
  position: relative;
  width: 144px;
  height: 96px;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--color-white-10);
}

.productImage {
  object-fit: cover;
}

.productTitle {
  @include paragraph-sm;

  font-family: var(--font-secondary);
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
}
