.trackContainer {
  position: relative;
  background: blue;
}

.track {
  --aspect-ratio: 294/546;
  --height: 30vh;
  --min-height: 300px;
  --max-height: 738px;
  --height-current: 42vh;
  --min-height-current: 420px;
  --max-height-current: 960px;
  --gap: 24px;

  width: fit-content;

  @include bp(large) {
    --gap: 48px;
    --height: 45vh;
    --height-current: 60vh;
  }

  display: flex;
  gap: var(--gap);
  align-items: center;
  margin-block: var(--gap);
  transition: transform 400ms;

  .placeholderFrontTile,
  .placeholderEndTile {
    display: block;
    position: absolute;
    height: var(--height);
    min-height: var(--min-height);
    max-height: var(--max-height);
    width: auto;
    box-sizing: border-box;
    aspect-ratio: var(--aspect-ratio);
    border-radius: 16px;
    background: var(--color-black-40);
    border: 2px solid var(--color-white-5);
    transition:
      height 400ms,
      min-height 400ms,
      max-height 400ms,
      opacity 400ms;
  }

  .placeholderFrontTile {
    &:nth-child(1) {
      left: calc(var(--gap) * -3);
      transform: translateX(-300%);
      opacity: 0.1;
    }

    &:nth-child(2) {
      left: calc(var(--gap) * -2);
      transform: translateX(-200%);
      opacity: 0.2;
    }

    &:nth-child(3) {
      left: calc(var(--gap) * -1);
      transform: translateX(-100%);
      opacity: 0.3;
    }
  }

  .placeholderEndTile {
    &:nth-last-child(1) {
      left: calc(100% + var(--placeholder-width) * 2 + var(--gap) * 3);
      opacity: 0.1;
    }

    &:nth-last-child(2) {
      left: calc(100% + var(--placeholder-width) + var(--gap) * 2);
      opacity: 0.2;
    }

    &:nth-last-child(3) {
      left: calc(100% + var(--gap));
      opacity: 0.3;
    }
  }
}

.tileContainer {
  cursor: pointer;
}

.tile {
  position: relative;
  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);
  width: auto;
  aspect-ratio: var(--aspect-ratio);
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--color-black-100);
  transition:
    height 400ms,
    min-height 400ms,
    max-height 400ms,
    opacity 400ms;
  opacity: 0.3;

  &.isActive {
    height: var(--height-current);
    min-height: var(--min-height-current);
    max-height: var(--max-height-current);
    width: auto;
    opacity: 1;
  }
}

.title {
  position: absolute;
  bottom: -8px;
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  transform: translateY(100%);
  transition: transform 200ms;
  cursor: default;
}
