.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
  white-space: nowrap;

  @include bp(medium) {
    flex-direction: row;
    grid-area: buttons;
    place-self: center flex-end;
  }

  &.alternatingLayout {
    @include bp-only(medium) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(var(--alternating-layout-break-row), 1fr);

      & > * {
        justify-content: space-between;
        width: 100%;
      }
    }

    @include bp(large) {
      display: flex;
      flex-direction: column;
    }
  }

  &.alwaysInRow {
    flex-direction: row;
  }
}
