.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  list-style: none;
  white-space: nowrap;

  @include bp(medium) {
    flex-direction: row;
    grid-area: buttons;
    justify-self: flex-end;
    align-self: center;
  }

  &.alternatingLayout {
    @include bp-only(medium) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(var(--alternating-layout-break-row), 1fr);
    }

    @include bp(large) {
      display: flex;
      flex-direction: column;
    }

    & > * {
      justify-content: space-between;
    }
  }
}
