.accountHeader {
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    border-bottom: 1px solid #747474a3;
    padding: 40px 0 20px;

    @media (width <=991px) {
      padding: 60px 0 15px;
      margin-bottom: 30px;
    }

    .btns {
      .button {
        background-color: transparent;
        color: white;
        padding: 0 20px;
        border-radius: 8px;
        text-decoration: none;
        border: solid 2px var(--color-primary-100);
        font-family: var(--font-secondary);
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 600;
        min-height: 40px;
        min-width: 217px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s all;

        @media (width <=991px) {
          min-width: inherit;
        }

        &:hover {
          background-color: var(--color-primary-100);
        }
      }
    }
  }
}

/* ./retail.module.scss */
@media (width <= 767px) {
  .accountContent.clickedState:not(.horizontal) .tabsNav {
    display: none;
  }
}

.accountContent {
  padding-bottom: 100px;

  @media (width <=767px) {
    padding-bottom: 40px;

    &.clickedState {
      &:not(.horizontal) {
        .tabsMain {
          .tabsContent {
            display: block;
          }
        }
      }
    }
  }

  &.horizontal {
    .tabsMain {
      .tabsNav {
        display: inline-flex;
        padding: 5px;
        border-radius: 5px;
        background: #2e2e2e;
        width: auto;
        margin: 0 0 20px;

        @media (width <=767px) {
          margin: 0 0 8px;
          flex-wrap: wrap;
        }

        .tabButton {
          background: transparent;
          padding: 10px 20px;
          white-space: nowrap;
          color: #fff;
          border: 0;
          font-family: var(--font-hind);
          font-size: 20px;
          font-weight: 400;

          &::after {
            display: none;
          }

          &.active {
            background: #fff;
            color: #2e2e2e;
            font-weight: 400;
          }

          @media (width <=767px) {
            font-size: 16px;
            padding: 9px 10px;
            width: auto;
          }
        }
      }
    }
  }

  .tabsMain {
    display: flex;
    align-items: flex-start;

    .tabsNav {
      background: #fff;
      padding: 10px 40px 40px;
      border-radius: 10px;
      width: 31%;

      @media (width <=767px) {
        width: 100%;
        margin-bottom: 25px;
        background: transparent;
      }

      .tabButton {
        display: block;
        border-bottom: 2px solid #9d9d9d;
        padding: 25px 0;
        font-size: 20px;
        font-family: var(--font-secondary);
        font-weight: 600;
        width: 100%;
        text-align: left;
        position: relative;

        @media (width <=767px) {
          color: #fff;
          border-bottom: 1px solid var(--color-white-20);
        }

        span {
          width: 24px;
          height: 24px;
          border-radius: 100%;
          font-family: var(--font-secondary);
          background: #ed2935;
          color: #fff;
          margin: 0 0 0 8px;
          display: inline-block;
          font-size: 16px;
          vertical-align: middle;
          text-align: center;
          line-height: 24px;
        }

        @media (width <=991px) {
          padding: 15px 0;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 6px;
          width: 6px;
          border-left: solid 2px #9d9d9d;
          border-bottom: solid 2px #9d9d9d;
          transition: 0.5s all;
          transform: rotate(-135deg);
          top: 0;
          bottom: 0;
          margin: auto;
          right: 5px;

          @media (width <=767px) {
            border-color: #fff;
          }
        }

        &.active {
          color: var(--color-primary-100);
          font-weight: 700;

          &::after {
            border-color: var(--color-primary-100);
          }
        }
      }

      @media (width <=1199px) {
        padding: 10px 25px 80px;
      }

      @media (width <=991px) {
        padding: 10px 20px 60px;
      }

      @media (width <=767px) {
        padding: 0;
      }
    }

    .tabsContent {
      width: 69%;
      padding: 0 0 0 50px;
      flex-wrap: wrap;

      & > div {
        width: 100%;

        & > div {
          border-width: 1px;
        }
      }

      .mobileTile {
        font-size: 20px;
        font-family: var(--font-secondary);
        font-weight: 600;
        color: #ed2935;
        margin: 0 0 20px;
        position: relative;
        display: none;

        &::before {
          content: '';
          height: 8px;
          width: 8px;
          border-left: solid 2px #fff;
          border-bottom: solid 2px #fff;
          display: inline-block;
          transform: rotate(45deg);
          vertical-align: middle;
          margin: 0 10px 0 0;
        }

        @media (width <=767px) {
          display: block;
        }
      }

      @media (width <=1199px) {
        padding: 0 0 0 25px;
      }

      @media (width <=767px) {
        width: 100%;
        padding: 0;
        display: none;
      }

      .withBackground {
        padding: 0;
      }
    }
  }
}

.wishlistBoxes {
  width: 100%;

  .wishlistBox {
    background: #fff;
    border-radius: 6px;
    padding: 26px;
    display: flex;
    margin-bottom: 34px;

    @media (width <=1199px) {
      margin-bottom: 25px;
    }

    @media (width <=767px) {
      padding: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }

    figure {
      border: solid 1px #000;
      border-radius: 8px;
      max-width: 115px;
      max-height: 115px;
      min-width: 115px;
      flex: 0 0 115px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (width <=767px) {
        max-width: 80px;
        max-height: 80px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
    }

    .wContent {
      line-height: 1.8;
      padding: 0 15px;

      @media (width <=767px) {
        padding: 15px 0;
        text-align: center;
        width: 100%;
      }

      h4 {
        font-size: 16px;
        color: var(--color-primary-100);
        margin-bottom: 5px;
        font-family: var(--font-hind);
      }

      p {
        font-size: 16px;
        color: #000;
        margin: 0;
        line-height: 1.8;

        @media (width <=767px) {
          line-height: 1.5;
        }
      }

      .price {
        color: var(--color-primary-100);
        font-weight: 600;
      }
    }

    .wActions {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-left: auto;

      @media (width <=767px) {
        margin: auto;
      }

      .button {
        background: var(--color-primary-100);
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 600;
        color: #fff;
        border-radius: 8px;
        font-family: var(--font-secondary);
        padding: 0 20px;
        min-height: 30px;
        min-width: 111px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 10px;
        transition: 0.5s all;

        &:hover {
          background-color: #000;
        }
      }

      .link {
        color: var(--color-primary-100);
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        font-family: var(--font-hind);

        &:hover {
          color: #000;
        }
      }
    }
  }

  .moreBtn {
    text-align: center;
    margin-top: 100px;

    @media (width <=1199px) {
      margin-top: 50px;
    }

    .button {
      background-color: transparent;
      color: white;
      padding: 0 20px;
      border-radius: 8px;
      text-decoration: none;
      border: solid 2px var(--color-primary-100);
      font-family: var(--font-secondary);
      font-size: clamp(16px, 2vw, 20px);
      font-weight: 600;
      min-height: 40px;
      min-width: 217px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s all;

      &:hover {
        background-color: var(--color-primary-100);
      }
    }
  }
}

.accountDetails {
  width: 100%;

  .info {
    .dRow {
      display: flex;
      align-items: center;
      border-bottom: solid 1px rgb(116 116 116 / 64%);
      padding: 25px 0;

      @media (width <=991px) {
        padding: 15px 0;
      }

      .dTitle {
        width: 28%;
        font-size: clamp(16px, 2vw, 20px);
        font-family: var(--font-secondary);
        font-weight: 500;
      }

      .dDesc {
        width: 62%;
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 300;
        font-family: var(--font-hind);
        padding: 0 15px;

        a {
          text-decoration: underline;

          &:hover {
            color: var(--color-primary-100);
          }
        }
      }

      .dAction {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
  }

  .currentStatus {
    border-radius: 8px;
    background: var(--color-primary-100);
    color: #fff;
    margin: 34px 0 0;
    padding: 28px 40px;
    display: flex;
    font-size: clamp(18px, 2vw, 20px);
    gap: 20px;

    @media (width <=991px) {
      padding: 20px;
    }

    .title {
      font-family: var(--font-secondary);
      font-weight: 600;
    }

    .date {
      font-weight: 300;
    }
  }
}

/* HORIZONTAL TABS */
.horizontal {
  .mobileTile {
    @media (width <=767px) {
      display: none !important;
    }
  }

  .tabsMain {
    flex-direction: column;
    width: 100% !important;
    padding: 0 !important;
  }

  .tabsNav {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #2b2b2b;
    border-radius: 8px;
  }

  .tabsContent {
    display: block;
    width: 100% !important;
    padding: 0 !important;
  }

  .tabButton {
    border-radius: 4px;
    background: transparent;
  }

  .active {
    background: #fff;
    color: #000;
  }
}
