.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--color-white-20);
  border-radius: 16px;
  padding: 16px 16px 16px 24px;
  list-style: none;
  margin: 0;
  background: var(--color-black-100);
  min-height: 302px;
  transition: var(--transition);

  @include bp(medium) {
    padding: 16px;
  }

  @include bp(large) {
    background: var(--color-black-60);
  }

  &.isSelected {
    border-color: var(--color-primary-100);
  }
}

.typeContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.name {
  flex-grow: 1;
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
}

.imageWrapper {
  width: 24px;
  aspect-ratio: 1;
  flex-shrink: 0;

  @include bp(large) {
    display: block;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.storeTypeLabel {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-block: 0;
  color: var(--color-white-80);

  &.super {
    color: #00a651;
  }

  &.major {
    color: #27aae1;
  }
}

.location {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  color: var(--color-white-80);
  font-size: 16px;
  line-height: 1.6;

  @include bp(medium) {
    gap: 8px;
  }

  @include bp(large) {
    gap: 16px;
  }

  path {
    fill: #ed2935;
  }
}

.tel {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  font-weight: 600;

  @include bp(medium) {
    gap: 8px;
  }

  @include bp(large) {
    gap: 16px;
  }

  path {
    fill: #ed2935;
  }
}

.icon {
  position: relative;
  top: 4px; // optical
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

// .pusher {
//   flex-grow: 1;
// }

.separator {
  width: 100%;
  height: 1px;
  margin-block: 16px;
  background: var(--color-white-10);
}

.extra {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 16px;

  @include bp(large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.link {
  font-family: var(--font-secondary);
  font-size: 16px;
  padding-inline: 8px !important;
  width: fit-content;

  @include bp(large) {
    width: 100%;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

.inStoreDisplays {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include bp(large) {
    flex-direction: row;
  }
}

.displaysLabel {
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 8px;
}

.displays {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

// Results UI wrapper
.resultUI {
  display: flex;
  align-items: center;
}

.resultContainer {
  flex-grow: 1;
}

.resultClearButton {
  width: 48px;
  height: 48px;
  padding: 12px;
  flex-shrink: 0;
  margin-right: -12px;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--color-primary-80);
    transition: background-color 150ms;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 5px;
      right: 5px;
      height: 2px;
      background-color: var(--color-black-100);
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &:hover span {
    background: var(--color-primary-100);
  }

  &.isHighlighted span {
    background: blue;
    animation: blink 100ms infinite alternate;
  }
}

@keyframes blink {
  0%,
  25% {
    background: var(--color-primary-80);
  }

  75%,
  100% {
    background: white;
  }
}
