.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--color-white-20);
  border-radius: var(--border-radius-md);
  padding: var(--content-padding-sm);
  list-style: none;
  margin: 0;
  background: var(--color-black-100);
  transition: var(--transition);

  @include bp(medium) {
    padding: 22px;
  }

  @include bp(large) {
    background: var(--color-black-60);
  }

  &.isSelected {
    border-color: var(--color-primary-100);
  }
}

.name {
  flex-grow: 1;
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--gap-global-xs);
}

.storeCategory {
  margin-bottom: var(--gap-global-sm);
}

.location {
  display: flex;
  gap: var(--gap-global-xs);
  color: var(--color-white-80);
  font-size: 14px;
  line-height: 1.28;
  text-align: left;

  @include bp(large) {
    gap: var(--gap-global-sm);
  }

  path {
    fill: #ed2935;
  }
}

.tel {
  display: flex;
  gap: var(--gap-global-xs);
  margin-top: 10px;
  font-weight: 600;
  font-family: var(--font-secondary);

  @include bp(medium) {
    gap: 8px;
  }

  @include bp(large) {
    gap: 16px;
  }

  path {
    fill: #ed2935;
  }
}

.icon {
  position: relative;
  top: 4px; // optical
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  .tel & {
    top: 2px;
  }
}

.extra {
  display: flex;
  flex-direction: column;
  gap: var(--gap-global-sm);
  margin-top: var(--gap-global-sm);

  @include bp(large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.link {
  font-family: var(--font-secondary);
  font-size: 16px;
  padding-inline: 8px !important;
  width: 100%;
  background-color: var(--color-white-10);

  &:hover {
    background-color: var(--color-white-20);
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

// Results UI wrapper
.resultUI {
  display: flex;
  align-items: center;
}

.resultContainer {
  flex-grow: 1;
}

.resultClearButton {
  width: 48px;
  height: 48px;
  padding: 12px;
  flex-shrink: 0;
  margin-right: -12px;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--color-primary-80);
    transition: background-color 150ms;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 5px;
      right: 5px;
      height: 2px;
      background-color: var(--color-black-100);
      transform: translateY(-50%) rotate(-45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &:hover span {
    background: var(--color-primary-100);
  }

  &.isHighlighted span {
    background: blue;
    animation: blink 100ms infinite alternate;
  }
}

@keyframes blink {
  0%,
  25% {
    background: var(--color-primary-80);
  }

  75%,
  100% {
    background: white;
  }
}
