@use 'sass:list';
@use 'sass:map';

$breakpoints: (
  small: 420px,
  medium: 768px,
  medium-large: 991px,
  large: 1280px,
  full: 1536px,
);

@function bp-val($name) {
  @if type-of($name) == 'number' {
    @return $name;
  }

  $val: map.get($breakpoints, $name);

  @if not $val {
    @error 'Breakpoint #{$name} not found';
  }

  @return $val;
}

@function bp-val-next($name) {
  $breakpoint-names: map_keys($breakpoints);
  $n: list.index($breakpoint-names, $name);

  @if $n >= length($breakpoint-names) {
    @error 'Next breakpoint after #{$name} not found';
  }

  $next-key: list.nth($breakpoint-names, $n + 1);

  @return map-get($breakpoints, $next-key);
}

@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin bp-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint) - 1px}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin bp-only($name) {
  @if type-of($name) == 'number' {
    @error '#{$name} should be breakpoint name';
  }

  $min: bp-val($name);
  $max: bp-val-next($name);

  @media (min-width: $min) and (max-width: $max - 0.02) {
    @content;
  }
}
