@import './breakpoints';

html {
  --vh: 1vh;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text);
  background: var(--color-dark-gray-100);
  background: #181616;
  overflow: hidden auto;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #464646 #0e0e0e;

  &::-webkit-scrollbar {
    @media (hover: hover) {
      overflow: hidden;
    }
  }

  &::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid #262626;
    background-color: #464646;
  }
}

body {
  --current-breakpoint: small;

  @each $breakpoint, $size in $breakpoints {
    @include bp($breakpoint) {
      --current-breakpoint: #{$breakpoint};
    }
  }

  &.lock-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

[href],
[data-href] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.p {
  font-family: var(--font-primary);
  font-size: 16px;
}

.p-small {
  font-size: 12px;
  font-weight: 400;

  @include bp(large) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.p-medium {
  font-size: 14px;

  @include bp(large) {
    font-size: 16px;
    line-height: 1.37;
  }
}

.p-large {
  font-size: 18px;
  font-weight: 400;

  @include bp(large) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  margin: 0;
  color: var(--color-white-100);
}

h1,
.h1 {
  font-size: 40px;
  line-height: 1.2;

  @include bp(large) {
    font-size: 48px;
    line-height: 1.16;
  }
}

h2,
.h2 {
  font-size: 32px;
  line-height: 1.12;

  @include bp(large) {
    font-size: 40px;
    line-height: 1.15;
  }
}

h3,
.h3 {
  font-size: 24px;
  line-height: 1.33;

  @include bp(medium) {
    font-size: 32px;
    line-height: 1.12;
  }
}

h4,
.h4 {
  font-size: 20px;
  line-height: 1.4;

  @include bp(medium) {
    font-size: 24px;
    line-height: 1.16;
  }
}

h5,
.h5 {
  font-size: 16px;
  line-height: 1.25;

  @include bp(medium) {
    font-size: 20px;
    line-height: 1.4;
  }
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  appearance: none;
}

abbr {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

a span[data-require-user-email] {
  pointer-events: none;
}
