@import './breakpoints';

html,
body {
  font-family: var(--font-primary);
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: var(--color-dark-gray-100);
  background: #181616;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  --current-breakpoint: small;

  @each $breakpoint, $size in $breakpoints {
    @include bp($breakpoint) {
      --current-breakpoint: #{$breakpoint};
    }
  }

  &.lock-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  margin: 0;
  color: var(--color-white-100);
}

h1,
h2 {
  font-size: 48px;

  @include bp(medium) {
    font-size: 64px;
  }
}

h3 {
  font-size: 36px;

  @include bp(medium) {
    font-size: 48px;
  }
}

h4 {
  font-size: 24px;

  @include bp(medium) {
    font-size: 36px;
  }
}

h5 {
  font-size: 20px;

  @include bp(medium) {
    font-size: 24px;
  }
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  appearance: none;
}

abbr {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
