@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-vertical($is_imp: false) {
  @if $is_imp == true {
    position: absolute !important;
  } @else {
    position: absolute;
  }

  top: 50%;
  transform: translateY(-50%);
}

@mixin center-horizontal($is_imp: false) {
  @if $is_imp == true {
    position: absolute !important;
  } @else {
    position: absolute;
  }

  left: 50%;
  transform: translateX(-50%);
}

@mixin scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #464646 #0e0e0e;

  &::-webkit-scrollbar {
    overflow: hidden;
  }

  &::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid #262626;
    background-color: #464646;
  }
}
