:root {
  --font-primary: var(--font-hind), sans-serif;
  --font-secondary: var(--font-khand), sans-serif;

  --color-primary-rgb: 237, 41, 53;
  --color-primary-100: rgba(var(--color-primary-rgb), 1);
  --color-primary-80: rgba(var(--color-primary-rgb), 0.8);
  --color-primary-60: rgba(var(--color-primary-rgb), 0.6);
  --color-primary-40: rgba(var(--color-primary-rgb), 0.4);
  --color-primary-20: rgba(var(--color-primary-rgb), 0.2);
  --color-primary-10: rgba(var(--color-primary-rgb), 0.1);

  --color-black-rgb: 0, 0, 0;
  --color-black-100: rgba(var(--color-black-rgb), 1);
  --color-black-80: rgba(var(--color-black-rgb), 0.8);
  --color-black-60: rgba(var(--color-black-rgb), 0.6);
  --color-black-40: rgba(var(--color-black-rgb), 0.4);
  --color-black-20: rgba(var(--color-black-rgb), 0.2);
  --color-black-10: rgba(var(--color-black-rgb), 0.1);
  --color-black-5: rgba(var(--color-black-rgb), 0.05);

  --color-white-rgb: 255, 255, 255;
  --color-white-100: rgba(var(--color-white-rgb), 1);
  --color-white-80: rgba(var(--color-white-rgb), 0.8);
  --color-white-60: rgba(var(--color-white-rgb), 0.6);
  --color-white-40: rgba(var(--color-white-rgb), 0.4);
  --color-white-20: rgba(var(--color-white-rgb), 0.2);
  --color-white-10: rgba(var(--color-white-rgb), 0.1);
  --color-white-5: rgba(var(--color-white-rgb), 0.05);

  --color-error: var(--color-primary-100);

  --transition: all 150ms linear;//color 150ms linear, background-color 150ms linear;
  --border-radius: 8px;
  --border-size: 2px;

  --z-index-label: 1;
  --z-index-dropdown: 100;
}
