@use 'sass:list';

/* Z-index layers */
$layers: (
  'fullscreen-video',
  'modal',
  'hamburger',
  'mobile-menu',
  'backdrop',
  'dropdown',
  'header',
  'store-search',
  'tooltip-button',
  'tooltip',
  'label',
  'footer',
  'component',
  'hero-bg-active',
  'hero-bg'
);

:root {
  $length: list.length($layers);

  @each $key, $val in $layers {
    $i: list.index($layers, $key);

    --z-index-#{$key}: #{$length - $i + 1};
  }
}
