.pageContainer {
  --vertical-padding: 24px;

  @include bp(large) {
    --vertical-padding: 120px;
  }

  display: flex;
  flex-direction: column;
  padding: var(--vertical-padding) 0;
  gap: 64px;
}
