.section {
  padding-block: 88px 48px;

  @include bp(large) {
    padding-block: 120px;
  }
}

.groups {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @include bp(large) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.group {
  padding: 32px 0;
  border: 2px solid var(--color-white-20);
  border-radius: var(--border-radius-md);
  width: 100%;

  @include bp(large) {
    padding: var(--card-padding) var(--card-padding-lg);
  }
}

.list {
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  --inline-padding: 16px;

  padding: 0;
  margin-left: calc(-1 * var(--inline-padding));
}

.sidebar {
  display: none;
  padding: 0;

  @include bp(large) {
    display: block;
  }
}

.link {
  width: 100%;
  justify-content: flex-start;

  &:hover {
    display: flex;
    justify-content: space-between;
  }
}
