.text {
  grid-row: auto;
  grid-column: auto;
  color: var(--color-white-80);
  font-size: 20px;
  line-height: 1.6;

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include bp(medium) {
    grid-area: description;
  }

  @include bp(large) {
    font-size: 24px;
    align-self: center;
  }
}

.actionButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  @include bp(medium) {
    justify-content: flex-end;
  }
}

.reviewContainer {
  display: flex;
  gap: 24px;
  width: 100%;
}

.swiperButtons {
  display: none;
  gap: 8px;

  @include bp(medium) {
    display: flex;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.swiper {
  overflow-x: visible;

  @include bp(medium) {
    overflow-x: clip;
  }
}

.allReviewsButton {
  min-width: 167px;

  svg {
    max-width: 20px;
    flex-shrink: 0;
    margin-inline: 5px 10px;
  }
}
