.review {
  border-radius: var(--border-radius-md);
  background: var(--color-white-100);
  backdrop-filter: blur(12px);
  width: calc(100% - var(--gap));
  height: min-content;
  max-width: 100%;
  padding: var(--card-padding-sm);

  @include bp(medium) {
    padding: var(--card-padding);
  }

  @include bp(large) {
    max-width: 25%;
  }
}

.text {
  color: rgb(9 9 9 / 70%);
  margin-block: var(--gap-global-xs);

  @include bp(medium) {
    margin-block: var(--gap-global-sm);
  }
}

.name {
  color: var(--color-primary-100);
}
