.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 24px;

  @include bp(medium) {
    padding: 48px 0;
  }

  @include bp(large) {
    padding: 96px 0;
  }
}

.sectionInformation {
  display: grid;
  grid-template-columns: 100%;

  @include bp(medium) {
    gap: 24px;
    grid-template-areas: 'title buttons' 'description description';
    grid-template-columns: unset;
    padding-left: 0;
  }

  @include bp(large) {
    gap: 48px;
    grid-template-areas: 'title description buttons';
    grid-template-columns: auto 515px 1fr;
  }
}

.title {
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.33;

  @include bp(medium) {
    grid-area: title;
  }

  @include bp(large) {
    font-size: 64px;
    line-height: 1.25;
  }
}

.text {
  grid-row: auto;
  grid-column: auto;
  color: var(--color-white-80);
  font-size: 20px;
  line-height: 1.6;

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include bp(medium) {
    grid-area: description;
  }

  @include bp(large) {
    font-size: 24px;
    align-self: center;
  }
}

.actionButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  @include bp(medium) {
    grid-area: buttons;
    justify-content: flex-end;
  }
}

.reviewContainer {
  display: flex;
  gap: 24px;
  width: 100%;
}

.swiperButtons {
  display: none;
  gap: 8px;

  @include bp(medium) {
    display: flex;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    &:first-child {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.swiper {
  overflow-x: visible;

  @include bp(medium) {
    overflow-x: clip;
  }
}

.overflowHidden {
  overflow: hidden;
}

.allReviewsButton {
  min-width: 167px;

  svg {
    max-width: 20px;
  }
}
