NEXT_PUBLIC_WORDPRESS_API_URL=https://project-name.x5view.co/graphql

# Value must matcht the value in the WordPress settings (Settings > XNext > Revalidate Secret)
WORDPRESS_REVALIDATE_SECRET=1234567890

# Only required if you want to enable preview mode
#WORDPRESS_AUTH_REFRESH_TOKEN=
#WORDPRESS_PREVIEW_SECRET=


GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_API_KEY=                  # Places API key cannot be restricted to referers # Get this at https://console.cloud.google.com/google/maps-apis/credentials?project=hsp-wordpress-website
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=         # Get this at https://console.cloud.google.com/google/maps-apis/studio/maps?project=hsp-wordpress-website
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=        # Get this at https://console.cloud.google.com/google/maps-apis/credentials?project=hsp-wordpress-website
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SITEKEY=   # Get this at https://console.cloud.google.com/security/recaptcha?project=hsp-wordpress-website
NEXT_PUBLIC_BREVO_SIGNUP_URL=           # Get this at https://app.brevo.com/contact/forms/
