.layout {
  display: grid;
  margin-top: 48px;

  @include bp(large) {
    display: grid;
    grid-template: auto 1fr / 1fr 2fr;
    grid-template-areas:
      'intro questions'
      'buttons questions';
    grid-gap: 48px;
    margin-top: 96px;
  }
}

.buttonsContainer {
  margin: 48px 24px;

  @include bp(medium) {
    margin: 48px 0;
  }

  @include bp(large) {
    grid-area: buttons;
    margin: 0;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-margin-top: calc(var(--header-height) + 32px);

  @include bp(large) {
    grid-area: questions;
  }
}

.item {
  border-bottom: 2px solid var(--color-white-20);

  &.active,
  &:hover {
    background: var(--color-white-5);
  }

  @include bp-below(large) {
    .list:not(.activeForMobile) &:nth-child(n + 3) {
      display: none;
    }
  }
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  color: var(--color-white-80);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  &:hover,
  .item.active & {
    color: var(--color-white-100);
    cursor: pointer;
  }
}

.questionText {
  margin-right: 24px;
}

.questionIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: transform 400ms;

  .item.active & {
    transform: rotate(180deg);
  }
}

.answer {
  padding-inline: 24px;
  margin-bottom: 24px;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.buttonToggle {
  margin-top: 24px;
  justify-self: end;

  svg {
    transform: rotate(90deg);
  }

  &.isActive {
    svg {
      transform: rotate(-90deg);
    }
  }

  @include bp(large) {
    display: none;
  }
}
