.layout {
  --question-padding: 16px;

  display: grid;
  gap: var(--gap);
  padding-block: 24px;

  @include bp(medium) {
    padding-block: 48px;
    grid-template-columns: 1fr 1fr;
  }

  @include bp(large) {
    grid-template-columns: 408px 1fr;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-margin-top: calc(var(--header-height) + 32px);
}

.item {
  border-bottom: 2px solid var(--color-white-20);

  &.active,
  &:hover {
    background: var(--color-white-5);
  }

  @include bp-below(medium) {
    .list:not(.activeForMobile) &:nth-child(n + 3) {
      display: none;
    }
  }

  @include bp(medium) {
    .list:not(.activeForMobile) &:nth-child(n + 7) {
      display: none;
    }
  }
}

.questions {
  display: grid;
  row-gap: var(--gap);
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--question-padding);
  color: var(--color-white-80);

  &:hover,
  .item.active & {
    color: var(--color-white-100);
    cursor: pointer;
  }
}

.questionText {
  margin-right: 24px;
}

.questionIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: transform 400ms;

  .item.active & {
    transform: rotate(180deg);
  }
}

.answer {
  margin-bottom: var(--gap);
  padding-inline: var(--gap);

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.buttonToggle {
  margin-left: auto;

  svg {
    transform: rotate(90deg);
  }

  &.isActive {
    svg {
      transform: rotate(-90deg);
    }
  }

  @include bp(medium) {
    margin-top: 0;
  }
}
