.promo {
  display: flex;
  flex-flow: column-reverse nowrap;
  gap: var(--gap-global);

  @include bp(medium) {
    flex-direction: row;
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include bp(medium) {
    width: 50%;
    justify-content: center;
  }

  @include bp(large) {
    width: 522px;
    padding-inline: var(--content-padding);
  }
}

.video {
  display: flex;
  justify-content: center;
  width: auto;

  @include bp(medium) {
    width: 50%;
  }
}

.title {
  br {
    display: none;

    @include bp(medium) {
      display: block;
    }
  }
}

.description {
  color: var(--color-white-80);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.moreButton {
  margin-top: var(--gap-global-sm);

  @include bp(large) {
    margin-top: var(--gap-global);
  }
}
