.promo {
  display: flex;
  flex-flow: column-reverse nowrap;
  margin: 64px 0 46px;
  gap: 48px;

  @include bp(medium) {
    margin-top: 114px;
    flex-direction: row;
  }

  @include bp(large) {
    margin-top: 150px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 24px;
  width: 100%;

  @include bp(medium) {
    width: 50%;
  }

  @include bp(large) {
    justify-content: center;
    gap: 48px;
    width: 522px;
    padding-inline: 48px;
  }
}

.video {
  display: flex;
  justify-content: center;
  width: auto;

  @include bp(medium) {
    width: 50%;
  }

  @include bp(full) {
    width: 750px;
  }
}

.title {
  font-weight: 600;
  line-height: 1.33;

  @include bp(large) {
    line-height: 1.25;
  }

  br {
    display: none;

    @include bp(medium) {
      display: block;
    }
  }
}

.description {
  color: var(--color-white-80);
  font-size: 20px;
  line-height: 1.35;

  @include bp(large) {
    font-size: 24px;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.moreButton {
  margin-top: 8px;

  @include bp(large) {
    margin-top: 0;
  }
}
