.promo {
  display: flex;
  flex-flow: column-reverse nowrap;
  padding-block: 24px;
  gap: 24px;

  @include bp(medium) {
    padding-block: 48px;
    flex-direction: row;
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include bp(medium) {
    width: 50%;
    justify-content: center;
  }

  @include bp(large) {
    width: 522px;
    padding-inline: 24px;
  }
}

.video {
  display: flex;
  justify-content: center;
  width: auto;

  @include bp(medium) {
    width: 50%;
  }

  @include bp(full) {
    width: 750px;
  }
}

.title {
  margin-bottom: 8px;

  @include bp(medium) {
    margin-bottom: 16px;
  }

  br {
    display: none;

    @include bp(medium) {
      display: block;
    }
  }
}

.description {
  color: var(--color-white-80);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.moreButton {
  margin-top: 16px;

  @include bp(large) {
    margin-top: 24px;
  }
}
