.wrapper {
  position: relative;
  z-index: var(--z-index-label);
}

.highInput {
  position: fixed;
  top: -9999px;
}

.input {
  width: 100%;
  padding: 7px 16px;
  border: 2px solid var(--color-white-20);
  border-radius: 8px;
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-overflow: ellipsis;
  outline: none;
  background: transparent;
  transition: var(--transition);
  height: 48px;

  @include bp(small) {
    padding: 8px 24px;
  }

  &.withIcon {
    padding-right: 40px;
  }

  &.withIcon.withReset {
    padding-right: 95px;
  }

  &.withIcon.withReset[value=''] {
    padding-right: 44px;
  }

  &::placeholder {
    color: currentcolor;
    opacity: 0.5;
    transition: var(--transition);
  }

  &:focus {
    border-color: var(--color-white-20);
    background: var(--color-white-10);
  }

  &:not([value='']):focus {
    background: var(--color-white-20);
  }
}

.label {
  display: block;
  margin: 0 0 8px 12px;
  color: var(--color-white-60);
  font-size: 14px;
}

.mapToggler {
  grid-area: mapToggler;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.eventLabel {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.iconWrapper {
  position: absolute;
  z-index: 100;
  right: 16px;
  top: 50%;
  translate: 0 -50%;
  color: var(--color-white-60);
  transition: color var(--transition);

  .input:focus ~ & {
    color: var(--color-white-80);
  }

  .input:not([value='']) ~ & {
    color: var(--color-white-100);
  }

  svg {
    display: block;
  }

  path {
    fill: currentcolor;
  }
}

.resetButton {
  position: absolute;
  top: 50%;
  right: 44px;
  width: 40px;
  height: 40px;
  color: var(--color-white-100);
  transform: translateY(-50%);

  &[disabled] {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 6px;
    border-radius: 4px;
    background: var(--color-white-20);
    transition: background-color 0.2s;
  }

  &:hover::before {
    background: var(--color-white-40);
  }

  &::after {
    content: '+';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    font-size: 38px;
    line-height: 32px;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
