.container {
  margin-top: 24px;

  @include bp(medium) {
    margin-top: 48px;
  }

  @include bp(large) {
    margin-top: 96px;
  }
}


.title {
  margin-bottom: 48px;

  br:first-child {
    display: none;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}


.image,
.video {
  display: block;
  height: auto;
  margin: 0 auto 48px;
  border-radius: 16px;
}

.video {
  width: 342px;

  @include bp(medium) {
    width: 564px;
  }

  @include bp(large) {
    width: 1128px;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include bp(medium) {
    flex-direction: row;
  }
}

.column {
  flex: 1;
}

.description {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 24px;
  }

  h4,
  h5,
  h6,
  p {
    color: var(--color-white-80);
    line-height: 1.5;
  }

  p {
    @include bp(large) {
      font-size: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }


  a {
    text-decoration: underline;
    transition: var(--transition);

    &:hover {
      color: var(--color-primary-100);
    }
  }

  br {
    display: none;

    @include bp(large) {
      display: block;
    }
  }
}

.button {
  margin-top: 24px;

  @include bp(large) {
    margin-top: 48px;
  }
}
