@import '/styles/globals/typography';

.title {
  margin-bottom: 24px;

  br:first-child {
    display: none;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.image,
.video {
  display: block;
  height: auto;
  margin-inline: auto;
  border-radius: 16px;
  margin-bottom: var(--gap);
}

.video {
  width: 342px;

  @include bp(medium) {
    width: 564px;
  }

  @include bp(large) {
    width: 1128px;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @include bp(medium) {
    flex-direction: row;
  }
}

.column {
  flex: 1;
}

.description {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;

    @include bp(medium) {
      margin-bottom: 16px;
      flex-direction: row;
    }
  }

  h4,
  h5,
  h6,
  p {
    color: var(--color-white-80);
    line-height: 1.5;
  }

  a {
    @include text-link;
  }

  br {
    display: none;

    @include bp(large) {
      display: block;
    }
  }
}

.button {
  margin-top: 16px;

  @include bp(large) {
    margin-top: 24px;
  }
}
