.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 86%;
  max-width: 290px;

  @include bp(medium) {
    max-width: none;
    width: calc(100% / 3 - (2 / 3 * 24px));
    flex-grow: 1;
  }

  @include bp(large) {
    width: calc(100% / 3 - (2 / 3 * 48px));
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  height: 240px;
  aspect-ratio: 294/240;

  @include bp(medium) {
    aspect-ratio: unset;
  }
}

.image {
  object-fit: cover;

  .link:hover & {
    filter: brightness(1.1);
  }
}

.info {
  padding: 48px 24px;
  border-radius: 0 0 16px 16px;
  background: var(--color-black-100);
  flex-grow: 1;
}

.tagList {
  position: absolute;
  left: 24px;
  top: 24px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.tag {
  display: block;
  padding: 0 10px;
  border: 1px solid var(--color-black-100);
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-black-40);

  &:hover {
    background: var(--color-black-20);
  }
}

.date {
  color: var(--color-white-40);
  font-size: 14px;
  line-height: 1.6;
}

.title {
  margin: 16px 0;
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-white-80);

  .link:hover & {
    color: var(--color-white-100);
  }
}

.content {
  color: var(--color-white-80);
  line-height: 1.6;
}
