.container {
  margin-top: 56px;

  @include bp(medium) {
    display: flex;
  }
}

.info {
  padding: 24px;
  border-radius: 16px 16px 0 0;
  background: var(--color-black-100);

  @include bp(medium) {
    width: 50%;
    border-radius: 16px 0 0 16px;
  }

  @include bp(large) {
    width: 31%;
  }
}

.tagList {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 24px;

  @include bp(medium) {
    margin: 24px 0 48px;
  }
}

.tag {
  display: block;
  padding: 0 10px;
  border: 1px solid var(--color-primary-100);
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-primary-20);

  &:hover {
    background: var(--color-primary-40);
  }
}

.date {
  color: var(--color-white-40);
}

.title {
  color: var(--color-white-80);
  margin: 16px 0;
  font-family: var(--font-secondary);
  font-size: 24px;

  .link:hover & {
    color: var(--color-white-100);
  }

  @include bp(large) {
    font-size: 36px;
    line-height: 1.33;
  }
}

.content {
  color: var(--color-white-80);
  font-size: 16px;
  line-height: 1.35;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 342px;
  overflow: hidden;
  border-radius: 0 0 16px 16px;
  background: var(--color-white-10);

  @include bp(medium) {
    width: 50%;
    height: auto;
    border-radius: 0 16px 16px 0;
  }

  @include bp(large) {
    width: 69%;
  }
}

.image {
  object-fit: cover;

  .link:hover & {
    filter: brightness(1.1);
  }
}
