.callUs {
  display: flex;
  gap: var(--gap-global-sm);
  flex-wrap: wrap;

  & > div {
    flex: 1;
  }

  & > a {
    flex: 1;
  }
}

div[role='form'] {
  background-color: #ed2935;
}

.insideResultsAndMap {
  max-width: 100% !important;
  padding: 0 !important;

  .viewContainer {
    border: solid 1px #f00;
  }

  .store-locator-search {
    background: var(--color-primary-100) !important;
  }
}
