@import '/styles/globals/typography';

.container {
  padding-block: 24px;
  display: grid;
  gap: 24px;

  @include bp(medium) {
    padding-block: 48px;
    gap: 48px;
  }

  @include bp(large) {
    gap: 96px;
  }
}

.box {
  display: grid;
  gap: 24px;

  @include bp(medium) {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }

  &.textVisual {
    .content {
      @include bp(medium) {
        order: -1;
      }
    }
  }
}

.image,
.video {
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: grid;
  place-content: center;
}

.content {
  @include bp(medium) {
    display: grid;
    place-content: center;
    padding: 24px;
  }
}

.title {
  margin-bottom: 8px;

  @include bp(medium) {
    margin-bottom: 16px;
  }

  br:first-child {
    display: none;
  }
}

.description {
  color: var(--color-white-80);

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
  }

  a {
    @include text-link;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  br {
    display: none;

    @include bp(large) {
      display: block;
    }
  }
}

.button {
  margin-top: 48px;
}
