.wrapper {
  position: relative;
}

.intro {
  margin-bottom: var(--gap);
}

.description {
  color: var(--color-white-80);

  *:first-of-type {
    margin-top: 0;
  }

  *:last-of-type {
    margin-bottom: 0;
  }
}

.certificatesWrapper {
  display: grid;
  gap: var(--gap);

  @include bp(medium) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.certificates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);

  @include bp(medium) {
    grid-column: span 6;
  }

  @include bp(large) {
    grid-column: span 4;
  }
}

.info {
  padding: var(--card-padding);
  border-radius: var(--border-radius-md);
  border: 2px solid var(--color-white-20);

  @include bp(medium) {
    grid-column: span 6;
  }

  @include bp(large) {
    grid-column: span 8;
  }
}

.content {
  color: var(--color-white-80);

  *:first-of-type {
    margin-top: 0;
  }

  *:last-of-type {
    margin-bottom: 0;
  }
}
