.certification {
  display: grid;
  place-content: center;
  border-radius: var(--border-radius-md);
  background-color: var(--color-white-100);
  padding: 32px;
  text-align: center;

  @include bp(medium) {
    padding: var(--card-padding);
  }
}

.image {
  object-fit: contain;
  height: 96px;
  max-width: 100%;
  margin-bottom: var(--gap);

  @include bp(large) {
    height: 110px;
  }
}

.name {
  display: block;
  color: var(--color-black-100);
  margin-bottom: 4px;
}

.label {
  display: block;
  color: var(--color-black-80);
}
