.wrapper {
  @include bp(medium) {
    padding-block: 48px;
    text-align: center;
  }
}

.main {
  margin-bottom: 24px;

  @include bp(large) {
    margin-bottom: 0;
  }
}

.description {
  margin-top: 8px;
  color: var(--color-white-80);

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
