.title {
  margin-bottom: 16px;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.description {
  color: var(--color-white-80);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.grid {
  margin-block: var(--gap);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
  gap: var(--gap-s);

  @include bp(large) {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
  }
}
