.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp(medium) {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.loader {
  display: flex;
  justify-content: center;
  padding: 70px 0 40px;
}
