.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp(medium) {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.socialMedia {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  padding-left: 24px;
}
