.form {
  --form-gap: 24px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--form-gap);

  p {
    line-height: 1.6;
    flex: 100%;
    margin: 0;
    color: var(--color-white-80);
  }

  h3 {
    flex: 100%;
  }
}

.withPadding {
  @include bp(medium) {
    padding: 48px;
  }
}

.withBackground {
  @include bp(medium) {
    border-radius: var(--border-radius-lg);
    background: var(--color-black-100);
  }
}
