@import '/styles/globals/typography';
@import '/styles/globals/helpers';

.lightBackground {
  --font-color: var(--color-black-60);
  --border-color: var(--color-black-20);
  --focus-color: var(--color-black-100);
  --focus-border-color: var(--color-black-40);
  --hover-bg-color: var(--color-black-5);
  --placeholder-color: var(--color-black-60);
  --filled-color: var(--color-black-100);

  & + .label {
    --label-color: var(--color-black-60);
  }
}

.darkBackground {
  --font-color: var(--color-white-60);
  --border-color: var(--color-white-20);
  --focus-color: var(--color-white-100);
  --focus-border-color: var(--color-white-40);
  --hover-bg-color: var(--color-white-5);
  --placeholder-color: var(--color-white-60);
  --filled-color: var(--color-white-100);

  & + .label {
    --label-color: var(--color-white-60);
  }
}

.small {
  --block-padding: 2px;
  --max-height: 39px;
  --label-line-height: 1.95;
}

.large {
  --max-height: 56px;
  --block-padding: 10px;
  --label-line-height: 2.8;
}

.wrapperOuter {
  position: relative;
}

.wrapperInner {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: var(--max-height);
  padding: var(--block-padding) 16px var(--block-padding) 24px;
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius-sm);
  color: var(--font-color);
  text-align: left;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  background: transparent;
  transition: var(--transition);

  & + .label {
    color: var(--label-color);
  }

  &:hover {
    background: var(--hover-bg-color);
  }

  &:focus,
  &:active {
    color: var(--focus-color);
    border-color: var(--focus-border-color);
    outline: none;
  }

  &:focus,
  &:active,
  &.filled {
    & + .label {
      font-size: 16px;
      line-height: 1.5;
      left: 10px;
      transform: translateY(-100%);
    }
  }

  &.filled {
    color: var(--filled-color);
  }

  .isOpen & {
    background: var(--color-white-20);
  }

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.pivot {
  @include center;

  transition: transform 0.2s;
  transform-origin: center center;
  width: 20px;
  height: 20px;

  &.reversed {
    transform: rotate(180deg);
  }
}

.error {
  border-color: var(--color-error);
}

.errorMessage {
  font-size: 14px;
  padding-top: 7px;
  padding-left: 10px;
  color: var(--color-error);
}

.dropdown {
  position: absolute;
  z-index: var(--z-index-dropdown);
  top: 100%;
  display: none;
  width: 100%;
  margin-top: 2px;
  padding: 12px 2px;
  color: var(--color-white-100);
  border-radius: var(--border-radius-sm);
  background: var(--color-black-100);

  &.isOpen {
    display: block;
  }
}

.option {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  padding: 12px 24px;
  transition: var(--transition);
  text-align: left;
  color: var(--color-white-100);

  &:hover,
  &:focus {
    background: var(--color-white-10);
  }

  .prefixSuffix {
    color: var(--color-white-80);
  }
}
