@import '/styles/globals/typography';
@import '/styles/globals/helpers';

.label {
  display: block;
  margin: 8px 0 8px 12px;
  color: var(--color-white-60);
  font-size: 14px;
}

.lightBackground {
  --font-color: var(--color-black-60);
  --border-color: var(--color-black-20);
  --focus-color: var(--color-black-100);
  --focus-border-color: var(--color-black-40);
  --hover-bg-color: var(--color-black-5);
  --placeholder-color: var(--color-black-60);
  --filled-color: var(--color-black-100);

  & + .label {
    --label-color: var(--color-black-60);
  }
}

.darkBackground {
  --font-color: var(--color-white-60);
  --border-color: var(--color-white-20);
  --focus-color: var(--color-white-100);
  --focus-border-color: var(--color-white-40);
  --hover-bg-color: var(--color-white-5);
  --placeholder-color: var(--color-white-60);
  --filled-color: var(--color-white-100);

  & + .label {
    --label-color: var(--color-white-60);
  }
}

.small {
  --block-padding: 2px;
  --max-height: 39px;
  --label-line-height: 1.95;
}

.large {
  --max-height: 56px;
  --block-padding: 7px;
  --label-line-height: 2.8;
}

.wrapperOuter {
  position: relative;
}

.wrapperInner {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.trigger {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 100%;
  max-height: var(--max-height);
  padding: var(--block-padding) 32px var(--block-padding) 16px;
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius-sm);
  color: var(--font-color);
  text-align: left;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  background: transparent;
  transition: var(--transition);

  @include bp(small) {
    padding: var(--block-padding) 40px var(--block-padding) 24px;
  }

  & + .label {
    color: var(--label-color);
  }

  &:hover {
    background: var(--hover-bg-color);
  }

  &:focus,
  &:active {
    color: var(--focus-color);
    border-color: var(--focus-border-color);
    outline: none;
  }

  &:focus,
  &:active,
  &.filled {
    & + .label {
      font-size: 16px;
      line-height: 1.5;
      left: 10px;
      transform: translateY(-100%);
    }
  }

  &.filled {
    color: var(--filled-color);
  }

  .isOpen & {
    background: var(--color-white-20);
  }

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.value {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -100%;

  &.forStretchOnly {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
  }
}

.pivot {
  @include center;

  position: absolute;
  right: 12px;
  transition: transform 0.2s;
  transform-origin: center center;
  width: 20px;
  height: 20px;

  @include bp(small) {
    right: 16px;
  }

  &.reversed {
    transform: rotate(180deg);
  }
}

.error {
  border-color: var(--color-error);
}

.errorMessage {
  font-size: 14px;
  padding-top: 7px;
  padding-left: 10px;
  color: var(--color-error);
}

.dropdownContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: var(--z-index-dropdown);

  &.isInDocumentFlow {
    position: relative;
    padding-bottom: 0;
  }
}

.animateHeightContainer {
  overflow: hidden;
  transform: translateZ(0);
}

.dropdown {
  display: block;
  z-index: var(--z-index-dropdown);
  top: 100%;
  width: 100%;
  margin-top: 2px;
  padding: 12px 2px;
  color: var(--color-white-100);
  border-radius: var(--border-radius-sm);
  background: var(--color-black-100);

  .isInDocumentFlow & {
    padding-bottom: 0;
  }
}

.option {
  display: block;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  padding: 12px 24px;
  transition: var(--transition);
  text-align: left;
  color: var(--color-white-100);

  &:hover,
  &:focus {
    background: var(--color-white-10);
  }

  .prefixSuffix {
    color: var(--color-white-80);
  }
}
