.relatedPosts {
  display: flex;
  padding: var(--card-padding);
  flex-direction: column;
  gap: 14px;
  border-radius: var(--border-radius-md);
  border: 2px solid var(--color-white-20);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  .linkItem {
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.link {
  position: relative;
  display: inline-block;
  padding: 5px 5px 5px 22px;
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 20px;

  &:hover,
  &:focus {
    color: var(--color-white-100);
  }

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    left: 0;
    top: 50%;
    background: currentcolor;
    transform: translateY(-50%);
  }
}

.button {
  svg path {
    color: var(--color-primary-100);
    fill: var(--color-primary-100);
  }

  width: fit-content;
}
