.carousel {
  position: relative;

  & > div {
    padding-inline: 24px;
  }

  article {
    width: calc(100% - 24px);
  }
}

.masonry {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, minmax(100px, auto));
  grid-gap: var(--gap);

  article {
    width: 100%;
    grid-column: span 4;
  }

  article:nth-child(1),
  article:nth-child(2) {
    grid-column: span 6;
    grid-row: 1;
  }

  article:nth-child(2) {
    grid-row: 1 / span 2;

    & > div:nth-child(1) {
      height: 100%;
    }
  }

  article:nth-child(3) {
    grid-column: span 6;
  }

  &[data-items='2'] article:nth-child(2) {
    grid-row: 1;
  }
}
