.container {
  display: flex;
  justify-content: center;
}

.link {
  display: block;
  width: 100%;
}

.desktopImage {
  width: 100%;
  height: auto;
  display: block;
}

.hideOnMobile {
  display: none;

  @include bp(medium) {
    display: block;
  }
}

.mobileImage {
  display: block;
  width: 100%;
  height: auto;

  @include bp(medium) {
    display: none;
  }
}
