.container {
  display: flex;
  justify-content: center;
}

.link {
  display: block;
  max-width: 600px;
  width: 100%;
}

.desktopImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: var(--border-radius-md);
  margin-inline: auto;
  display: block;
}

.hideOnMobile {
  display: none;

  @include bp(medium) {
    display: block;
  }
}

.mobileImage {
  display: block;
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: var(--border-radius-md);
  margin-inline: auto;

  @include bp(medium) {
    display: none;
  }
}
