.container {
  margin-block: 24px;
  padding-block: 24px;

  @include bp(large) {
    margin-block: 48px;
    padding-block: 48px;
  }
}

.desktopImage {
  width: 100%;
  height: auto;
}

.hideOnMobile {
  display: none;

  @include bp(medium) {
    display: block;
  }
}

.mobileImage {
  display: block;
  width: 100%;
  height: auto;

  @include bp(medium) {
    display: none;
  }
}
