@import '/styles/globals/helpers';

.carousel {
  position: relative;
  width: 100%;
  min-width: 0;

  .navigationButton {
    @include center-vertical;

    top: calc(50% - 24px);

    --side-space: -6px;

    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: var(--color-black-100);

    @include bp-below(large) {
      display: none;
    }
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(.uteBuilder) {
  .navigationButton {
    top: 32px;
    transform: none;
  }
}

.prevButton {
  left: var(--side-space);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nextButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  right: var(--side-space);
}
