.cards {
  display: grid;
  gap: var(--gap);

  @include bp(medium) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  border: 2px solid var(--color-white-20);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;

  @include bp(medium) {
    padding: 32px;
  }

  &.minor {
    @include bp(medium) {
      grid-column: span 6;
    }

    @include bp(large) {
      grid-column: span 4;
    }
  }

  &.major {
    @include bp(medium) {
      grid-column: span 6;
    }

    @include bp(large) {
      grid-column: span 8;
    }
  }
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  object-fit: cover;
}

.backgroundGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-black-80),
    var(--color-black-20),
    var(--color-black-80)
  );
}

.iconContainer {
  position: relative;
  width: 58px;
  height: 58px;
  margin-bottom: 16px;

  @include bp(large) {
    margin-bottom: 24px;
  }
}

.title {
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  text-shadow: 0 0 6px rgb(0 0 0 / 90%);

  @include bp(medium) {
    margin-bottom: 16px;
  }
}

.spacer {
  flex-grow: 1;
}

.gap {
  width: 100%;
  font-size: 16px;

  @include bp(large) {
    font-size: 20px;
  }
}

.description {
  position: relative;
  margin: 0;
  color: var(--color-white-80);
  text-shadow: 0 0 6px rgb(0 0 0 / 90%);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-top: 0;
  }
}
