@import '/styles/globals/typography';

.tooltipContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  pointer-events: none;
}

.title {
  @include paragraph-sm;
}

.tooltipButton {
  pointer-events: auto;
  z-index: var(--z-index-tooltip-button);
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}

.tooltip {
  @include paragraph-sm;

  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--z-index-tooltip);
  padding: 24px 36px 24px 24px;
  border: 2px solid var(--color-black-100);
  border-radius: var(--border-radius-sm);
  color: var(--color-white-80);
  background-color: var(--color-dark-gray-100);
  pointer-events: auto;

  @include bp(large) {
    background-color: var(--color-black-100);
    border-color: var(--color-dark-gray-100);
  }

  a {
    color: var(--color-white-100);
    text-decoration: underline;
  }

  @include bp(large) {
    bottom: 0;
    top: unset;
  }
}
