@mixin arrow-button-styling {
  padding: 0.75rem;
  border: 2px solid #ed2935;
  width: 3.5rem;
  height: 3.5rem;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 680px;
  max-height: 820px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    bottom: -75%;
    background: linear-gradient(
      180deg,
      transparent,
      var(--color-black-100) 14.41%,
      var(--color-black-100) 67.19%,
      var(--color-black-100)
    );
  }
}

.track {
  position: absolute;
  display: flex;
  height: 100%;
  transform: translateX(0);
  transition: transform 400ms;

  @for $i from 1 through 20 {
    &[data-index='#{$i}'] {
      transform: translateX(-#{$i}00vw);
    }
  }
}

.slide {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
}

.content {
  position: relative;
  z-index: var(--zindex-component);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 64px;
  background: var(--color-black-40);
  backdrop-filter: blur(12px);
  max-width: 100%;

  @include bp(medium) {
    padding: 2rem 3rem 3rem;
    margin-top: 96px;
  }

  @include bp(large) {
    max-width: 39.75rem;
    margin-top: 64px;
  }
}

.title {
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;

  @include bp(large) {
    font-size: 3rem;
  }
}

.description {
  margin-top: 24px;

  @include bp(medium) {
    margin-top: 16px;
  }

  p {
    color: var(--color-white-80);
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    pointer-events: none;
    line-height: 1.2;

    @include bp(large) {
      font-size: 1.5rem;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;

  @include bp(medium) {
    justify-content: space-between;
    margin-top: 32px;
  }
}

.actionButton {
  display: none;

  @include bp(medium) {
    display: block;

    --block-padding: 16px;
  }
}

.slideDots {
  display: flex;
  justify-content: space-between;

  @include bp(medium) {
    display: none;
  }
}

.dotContainer {
  padding: 10px 5px;
  cursor: pointer;
}

.slideDot {
  display: block;
  background-color: var(--color-white-10);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;

  &.active {
    background-color: var(--color-white-40);
  }
}

.navArrows {
  display: none;

  @include bp(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-height: 28px;

    @include bp(medium) {
      min-height: 56px;
    }
  }
}

.prevButton {
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
}

.nextButton {
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
}

.prevButton,
.nextButton {
  @include arrow-button-styling;

  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-primary-100);
  }
}
