@mixin arrow-button-styling {
  padding: 0.75rem;
  border: 2px solid #ed2935;
  width: 3.5rem;
  height: 3.5rem;
}

.hero {
  width: 100%;
  height: 59.75rem;
  padding: 64px 24px 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  @include bp(medium) {
    padding: 96px 48px 48px;
  }

  @include bp(large) {
    padding: 11rem 6rem 3rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    bottom: -75%;
    background: linear-gradient(
      180deg,
      transparent,
      var(--color-black-100) 14.41%,
      var(--color-black-100) 67.19%,
      var(--color-black-100)
    );
  }
}

.content {
  padding: 1.5rem;
  border-radius: 1rem;
  background: var(--color-black-40);
  backdrop-filter: blur(12px);
  max-width: 100%;

  @include bp(medium) {
    padding: 2rem 3rem 3rem;
  }

  @include bp(large) {
    max-width: 39.75rem;
  }
}

.title {
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  margin: 0 0 1rem;

  @include bp(large) {
    font-size: 3rem;
  }
}

.description p {
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 9px;
  pointer-events: none;

  @include bp(large) {
    font-size: 1.5rem;
    margin: 0 0 24px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include bp(medium) {
    justify-content: space-between;
  }
}

.learnMoreButton {
  display: none;
  border-radius: 0.5rem;
  background: var(--color-primary-100);
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1rem 1.5rem;
  cursor: pointer;

  @include bp(medium) {
    display: block;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.arrowButtons {
  @include arrow-button-styling;
}

.prevButton {
  @include arrow-button-styling;

  border-radius: 0.5rem 0 0 0.5rem;
}

.nextButton {
  @include arrow-button-styling;

  border-radius: 0 0.5rem 0.5rem 0;
}

.slideDots {
  display: flex;
  justify-content: space-between;
}

.dotContainer {
  padding: 10px 5px;
  cursor: pointer;
}

.slideDot {
  display: block;
  background-color: var(--color-white-10);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

.active {
  background-color: var(--color-white-40);
}
