@mixin arrow-button-styling {
  padding: 14px;
  border: 2px solid var(--color-primary-100);
  width: 48px;
  height: 48px;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 680px;
  max-height: 820px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: var(--z-index-component);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -75%;
    background: linear-gradient(
      180deg,
      transparent,
      var(--color-black-100) 14.41%,
      var(--color-black-100) 67.19%,
      var(--color-black-100)
    );
  }
}

.track {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100%;

  .swipeTransition & {
    transform: translateX(0);
    transition: transform 400ms;

    @for $i from 1 through 20 {
      &[data-index='#{$i}'] {
        transform: translateX(-#{$i}00vw);
      }
    }
  }
}

.slide {
  position: relative;
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.fadeTransition {
  .slide {
    margin-right: -100vw;
    opacity: 0;
    transition: opacity 200ms 200ms;
    z-index: var(--z-index-hero-bg);

    &.active {
      opacity: 1;
      z-index: var(--z-index-hero-bg-active);
      transition: opacity 200ms 0s;
    }
  }
}

.backgroundImage,
.backgroundImageMobile {
  object-fit: cover;
}

.content {
  position: relative;
  z-index: var(--z-index-component);
  padding: var(--content-padding);
  border-radius: 1rem;
  margin-top: 72px;
  background: var(--color-black-40);
  backdrop-filter: blur(12px);
  max-width: 100%;

  @include bp(medium) {
    margin-top: 44px;
  }

  @include bp(large) {
    max-width: 516px;
  }
}

.description {
  p {
    color: var(--color-white-80);
    pointer-events: none;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--gap-global-sm);

  @include bp(medium) {
    margin-top: var(--gap-global);
  }
}

.slideDots {
  display: flex;
  justify-content: space-between;

  @include bp(medium) {
    display: none;
  }
}

.dotContainer {
  padding: 10px 5px;
  cursor: pointer;
}

.slideDot {
  display: block;
  background-color: var(--color-white-10);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;

  &.active {
    background-color: var(--color-white-40);
  }
}

.navArrows {
  display: none;

  @include bp(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-global-sm);
    min-height: 28px;

    @include bp(medium) {
      min-height: 56px;
    }
  }
}

.prevButton {
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
}

.nextButton {
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
}

.prevButton,
.nextButton {
  @include arrow-button-styling;

  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-primary-100);
  }
}
