.link {
  position: absolute;
  bottom: 0;
  min-width: 168px;
  width: calc(100% - 2 * 24px);
  height: 72px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid var(--color-white-20);
  color: var(--color-white-100);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  transition: all 200ms;

  @include bp(medium) {
    position: relative;
    bottom: auto;
    padding: 0;
    min-width: unset;
    width: var(--product-card-width);
    height: unset;
    aspect-ratio: 1.4;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--color-white-20);
  }

  path {
    fill: var(--color-primary-100) !important;
    transition: fill 200ms;
  }
}
