.wrapper {
  --product-card-width: 134px;

  position: relative;
  z-index: var(--z-index-component);

  @media (width >= 300px) and (width <= 350px) {
    --product-card-width: 156px;
  }

  @media (width >= 460px) and (width <= 510px) {
    --product-card-width: 148px;
  }

  @media (width >= 620px) and (width <= 670px) {
    --product-card-width: 148px;
  }

  @include bp(medium) {
    --product-card-width: 168px;
  }

  @media (width >= 780px) and (width <= 830px) {
    --product-card-width: 156px;
  }

  @media (width >= 960px) and (width <= 1010px) {
    --product-card-width: 156px;
  }
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: auto;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;

  @include bp(large) {
    padding: 0 96px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
}

.title {
  width: 100%;
  text-align: left;
  padding-inline: 24px;

  @include bp(medium) {
    padding-inline: 48px;
  }

  @include bp(large) {
    text-align: center;
    padding-inline: 0;
  }
}

.productsContainer {
  display: flex;
  gap: 24px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  padding: 0 24px 8px;
  margin-bottom: 112px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include bp(medium) {
    padding-inline: 48px;
  }

  @include bp(large) {
    padding-inline: 8px;
    mask-image: none;
  }

  @include bp(full) {
    width: auto;
    overflow-x: visible;
  }
}
