.container {
  position: relative;
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: auto;
  transform: translateY(-100%);
  z-index: 1;
  margin-left: auto;
  margin-right: auto;

  @include bp(medium) {
    padding: 48px 0;
  }

  @include bp(large) {
    padding: 48px 96px;
    width: fit-content;
  }
}

.title {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  width: 100%;
  text-align: left;
  padding-inline: 24px;

  @include bp(medium) {
    padding-inline: 48px;
  }

  @include bp(large) {
    font-size: 36px;
    text-align: center;
    padding-inline: 0;
  }
}

.row {
  display: flex;
  gap: 24px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  padding-inline: 24px;
  mask-image: linear-gradient(
    to right,
    rgb(white 0.4),
    black var(--container-inline-padding),
    black calc(100% - var(--container-inline-padding)),
    rgb(white 0.4)
  );

  &::-webkit-scrollbar {
    display: none;
  }

  @include bp(medium) {
    padding-inline: 48px;
  }

  @include bp(large) {
    padding-inline: 0;
  }

  @include bp(full) {
    width: auto;
    overflow-x: visible;
  }
}
