.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.imageContainer {
  --width: 134px;

  position: relative;
  border-radius: 8px;
  width: var(--width);
  height: auto;
  aspect-ratio: 1.4;
  transition: width 0.2s;

  @media (width >= 300px) and (width <= 350px) {
    --width: 156px;
  }

  @media (width >= 460px) and (width <= 510px) {
    --width: 148px;
  }

  @media (width >= 620px) and (width <= 670px) {
    --width: 148px;
  }

  @include bp(medium) {
    --width: 168px;
  }

  @media (width >= 780px) and (width <= 830px) {
    --width: 156px;
  }

  @media (width >= 960px) and (width <= 1010px) {
    --width: 156px;
  }
}

.productImage {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.productName {
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
