.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 48px 0;

  @include bp(large) {
    flex-direction: row;
    align-items: center;
    gap: 24px 48px;
  }

  &.stacked-centered {
    @include bp(large) {
      flex-direction: column;
    }
  }
}

.title {
  font-family: var(--font-secondary);
  font-size: 48px;
  line-height: 1.33;
  font-weight: 600;

  @include bp(large) {
    font-size: 64px;
  }

  .section.stacked-centered & {
    @include bp(large) {
      text-align: center;
    }
  }
}

.description {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;

  .section.stacked-centered & {
    @include bp(large) {
      text-align: center;
    }
  }
}
