.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 48px 0;

  @include bp(large) {
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }
}

.title {
  font-family: var(--font-secondary);
  font-size: 48px;
  line-height: 1.33;
  font-weight: 600;

  @include bp(large) {
    font-size: 64px;
  }
}

.description {
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
