@import '/styles/globals/helpers';

.listWrapper {
  height: 100%;
  max-height: 490px;
  overflow-y: auto;

  @include scrollbar;

  @include bp-below(large) {
    margin-top: 20px;
    max-height: 40vh !important;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noResultsNotice {
  border-radius: 16px;
  padding: 16px 16px 16px 24px;
  background: var(--color-black-60);
  margin-bottom: 10px;

  @include bp(medium) {
    padding: 12px 16px 16px;
  }
}
