@import '/styles/globals/helpers';

.listWrapper {
  /* stylelint-disable scss/operator-no-newline-before */
  /* stylelint-disable scss/operator-no-newline-after */
  height: calc(
    100 * var(--vh) - var(--store-locator-form-header-height) - (2 * 24px) -
      (2 * 48px) - (2 * 12px) - var(--container-inline-padding)
  ); // 2 * form padding, 2 * input height, 2 * gap
  /* stylelint-enable scss/operator-no-newline-before */

  overflow-y: auto;
  border-radius: 8px;

  @include scrollbar;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  padding-block: 16px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  &:hover::before {
    background: var(--color-white-10);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    bottom: 0;
    background-color: var(--color-white-40);
  }
}

.index {
  padding: 12px 16px;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
}

.details {
  font-family: var(--font-secondary);
  font-size: 24px;
}

.name {
  font-weight: 600;
}

.address {
  color: var(--color-white-60);
  font-weight: 400;
  line-height: 1;
}
