.mapWrapper {
  position: relative;
  flex-grow: 1;
  border-radius: 16px;
  min-height: 550px;
  z-index: var(--z-index-component);
  background: black;
}

.map {
  position: absolute;
  z-index: -1;
  inset: -1px;
  border-radius: inherit;
  overflow: hidden;
}
