.mapWrapper {
  position: relative;
  flex-grow: 1;
  border-radius: var(--border-radius-md);
  min-height: 256px;
  z-index: var(--z-index-component);
  background: black;

  &.minHeightLarge {
    @include bp(large) {
      min-height: min(
        calc(
          100vh - var(--header-height) - var(
              --store-locator-collapsed-search-height
            ) - var(--store-locator-offset)
        ),
        512px
      );
    }
  }
}

.map {
  position: absolute;
  z-index: -1;
  inset: -1px;
  border-radius: inherit;
  overflow: hidden;
}
