@import '/styles/globals/breakpoints';

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: calc(1056px + var(--container-inline-padding) * 2);
  padding: 0.1px var(--container-inline-padding);

  &.isRelative {
    position: relative;
  }

  &.collapseTopMargin {
    padding-top: 0;
  }

  &.collapseBottomMargin {
    padding-bottom: 0;
  }

  &.collapseMargin {
    padding-block: 0;
  }
}
