@import '/styles/globals/breakpoints';

.container {
  --padding: 24px;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: calc(1320px + var(--padding) * 2);
  padding-left: var(--padding);
  padding-right: var(--padding);

  @include bp(medium) {
    --padding: 48px;
  }
}
