.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.rectangle {
  height: auto;
  aspect-ratio: 342/293;
  max-width: 100%;

  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include bp(medium) {
    aspect-ratio: 345/493;
  }

  @include bp(large) {
    aspect-ratio: 750/639;
  }
}
