.drawerContent {
  margin-top: 0;

  .contentWrap {
    max-width: 250px;
    margin: auto;

    h3 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-size: 20px;
      font-family: var(--font-primary);
      margin-bottom: 25px;
    }

    p {
      font-size: 15px;
      line-height: 1.5;
      margin: 0;
    }
  }
}

.deliveryForm {
  padding: 0 0 30px;

  .heading {
    text-align: left;
    cursor: none;
    margin-bottom: 8px;
  }

  .formRow {
    display: flex;
    gap: 14px;
    position: relative;

    @media (width <=767px) {
      gap: 0;
      flex-wrap: wrap;
    }

    .formCol {
      width: 100%;
      margin: 7px 0;
      position: relative;

      input {
        min-height: 51px;
        border-radius: 8px;
        padding: 0 12px;
        width: 100%;
        border: 0;
        outline: none;
      }

      select {
        min-height: 51px;
        border-radius: 8px;
        padding: 0 12px;
        width: 100%;
        border: 0;
        outline: none;
      }

      .searchBtn {
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0;
        height: 100%;
        opacity: 0.5;
        padding: 0 10px;

        svg {
          margin-top: 5px;
        }
      }

      .lblSelect {
        position: relative;

        span {
          font-size: 12px;
          color: #707070;
          position: absolute;
          left: 16px;
          top: 7px;
        }

        select {
          padding-top: 12px;
        }
      }
    }
  }

  .submitBtn {
    margin-top: 10px;

    @include bp(medium-large) {
      margin-top: 32px;
    }
  }
}

.redBoxContent {
  padding: 30px 16px;
  border-radius: 6px;
  background: #ed2935;
  margin: 30px 0 18px;

  h5 {
    font-size: clamp(16px, 1vw, 18px);
    font-family: var(--font-primary);
    line-height: 1.3;
    margin: 0 0 15px;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
  }
}

.autocomplete {
  visibility: visible;
}
