.container {
  @include bp(large) {
    height: 40px;
  }
}

.containerInner {
  position: relative;
  overflow: hidden;
}

.containerTrigger {
  display: flex;
  align-items: center;
}

.chooseButton {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 390px;
  border-radius: 0 0 8px 8px;
  padding-inline: 16px;
  white-space: nowrap;
  text-align: center;
  transition: border-radius 100ms 250ms;

  @include bp(large) {
    width: auto;
    max-width: none;
    border-radius: 8px;
  }

  &:hover,
  &:focus {
    background-color: var(--color-primary-100);
    color: var(--color-white-100);
  }

  &.nonEmpty {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-radius 50ms;

    @include bp(large) {
      padding-top: 8px;
      border-top-right-radius: 8px;
    }
  }
}

.placeholder {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  padding-left: 24px;
}

.fullName {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

.resetButtonContainer {
  width: 0;
  height: 40px;
  overflow: hidden;
  border-radius: 0 0 8px;
  transition: width 300ms;

  .nonEmpty:not(.opened) + & {
    width: 40px;
    transition: width 300ms 300ms;
  }

  @include bp(large) {
    border-radius: 0 8px 8px 0;
  }
}

.resetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: inherit;
  background: #5e1419;
  transition: background-color 200ms;

  &:hover {
    background-color: #881d24;
  }

  @include bp(large) {
    margin-left: 2px;
    width: 38px;
  }
}

.iconWrapper {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerAnimateHeight {
  border-radius: 0 0 8px 8px;
  overflow: hidden;

  @include bp(large) {
    position: absolute;
    right: 0;
  }
}

.dropdownOuter {
  padding: 24px;
  background: var(--color-primary-100);

  @include bp(large) {
    top: 100%;
    left: initial;
    right: 0;
    transform: initial;
    border-radius: 16px 0 16px 16px;
  }
}

.dropdownInner {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--color-black-100);
  padding: 24px;
  gap: 24px;
}

.modelAndVariantText {
  font-weight: 500;
}

.save {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 24px;

  &:disabled {
    opacity: 0.5;
  }
}
