.container {
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 14px);
  left: 50%;
  transform: translateX(-50%);
  width: 342px;
  background-color: var(--color-primary-100);
  padding: 24px;

  @include bp(large) {
    top: 100%;
    left: initial;
    right: 0;
    transform: initial;
    width: 390px;
    border-radius: 16px 0 16px 16px;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--color-black-100);
  padding: 24px;
  gap: 24px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 24px;
  background-color: var(--color-black-100);
  border-radius: 8px;
  border: 2px solid var(--color-white-20);
  color: var(--white-100, #fff);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  cursor: pointer;

  path {
    fill: var(--color-white-100);
  }

  &:hover {
    background-color: var(--color-white-10);
  }
}

.option {
  display: block;
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  padding: 12px 24px;
  cursor: pointer;
  text-align: left;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.chooseButton {
  width: 342px;
  display: flex !important;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  transition: none;

  &:hover,
  &:focus {
    background-color: var(--color-primary-100);
    color: var(--color-white-100);
  }

  @include bp(large) {
    width: auto;
    border-radius: 8px;
  }

  svg {
    display: flex;
    min-width: 14px;
  }
}

.closed {
  border-top-right-radius: 0;
}

.opened {
  transform: translateY(16px);
  padding-top: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: space-between;

  @include bp(large) {
    transform: translateY(0);
    padding-top: 8px;
  }
}

.cancelButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 40px;
  background-color: var(--color-primary-40);
  margin-left: 2px;

  span {
    display: flex;
  }
}

.selected {
  justify-content: center;

  @include bp(large) {
    border-bottom-right-radius: 0;
  }
}

.modelAndVariantText {
  font-weight: 500;
}

.save {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 24px;

  &:disabled {
    opacity: 0.5;
  }
}
