@import '/styles/globals/typography';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  padding-block: 24px;

  @include bp(medium) {
    display: grid;
    column-gap: 24px;
    grid-template-areas:
      'video leading'
      'feature1 feature1'
      'feature2 feature3';
    padding-block: 48px;
  }

  @include bp(large) {
    grid-template-areas:
      'video leading'
      'video feature1'
      'feature2 feature3';
    grid-template-rows: 1fr auto auto;
  }
}

.leadingFeature {
  @include bp(medium) {
    grid-area: leading;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @include bp(large) {
    align-self: center;
  }
}

.leadingTitle {
  margin-bottom: 8px;

  @include bp(medium) {
    margin-bottom: 16px;
  }
}

.leadingTitle {
  margin-bottom: 8px;

  @include bp(medium) {
    margin-bottom: 16px;
  }
}

.leadingDescription {
  color: var(--color-white-80);

  a {
    @include text-link;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.leadingButton {
  margin-top: 16px;

  @include bp(large) {
    margin-top: 24px;
  }
}

.videoTile {
  position: relative;
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-white-5);
  }

  @include bp(medium) {
    display: flex;
    align-items: stretch;
    grid-area: video;
  }

  @include bp(large) {
    max-height: 960px;
  }
}

.video {
  width: 100%;
  max-height: 400px;
  object-fit: cover;

  @include bp(medium) {
    max-height: 572px;
  }

  @include bp(large) {
    max-height: 700px;
  }
}

.featuresCarousel {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);

  & > div {
    padding-inline: var(--container-inline-padding);
  }
}

.slide {
  height: auto;
}
