@import '/styles/globals/typography';

.featureTile {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: var(--card-padding);
  border: 2px solid var(--color-white-20);
  border-radius: var(--border-radius-md);

  &.f1 {
    grid-area: feature1;

    @include bp(large) {
      align-self: flex-end;
    }
  }

  &.f2 {
    grid-area: feature2;
  }

  &.f3 {
    grid-area: feature3;
  }
}

.featureDescription {
  color: var(--color-white-80);

  a {
    @include text-link;
  }

  @include bp(full) {
    line-height: 1.6;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
