.carouselWrapper {
  position: relative;
  touch-action: pan-y;

  @include bp(large) {
    overflow: hidden;

    &.nonOverflowWrapper {
      overflow: visible;
    }
  }
}

.carousel {
  position: relative;
  width: 100vw;
  max-width: calc(1056px + var(--container-inline-padding) * 2);
  padding-inline: var(--container-inline-padding);
  margin-left: 50%;
  transform: translateX(-50%);

  @include bp(medium) {
    gap: 48px;
    overflow: hidden;
  }

  @include bp(full) {
    overflow: hidden;
  }

  &.resetStyle {
    padding: 0;
    margin: 0;
    transform: none;
    width: 100%;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: var(--gap);
  transition: transform 300ms;
  transform: translateX(var(--offset));

  .xSmallGaps > & {
    gap: var(--gap-global-sm);

    @include bp(large) {
      gap: var(--gap-global-xs);
    }
  }

  .smallGaps > & {
    gap: var(--gap-global-sm);

    @include bp(medium) {
      gap: var(--gap);
    }
  }

  * {
    -webkit-user-drag: none;
    user-select: none;
  }

  .carousel.isDragging & {
    transition-duration: 0ms;

    & > * {
      pointer-events: none;
    }
  }
}
