.carouselWrapper {
  position: relative;
}

.carousel {
  position: relative;
  width: 100vw;
  max-width: calc(1320px + var(--container-inline-padding) * 2);
  padding-inline: var(--container-inline-padding);
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 50%;
  transform: translateX(-50%);
  touch-action: pan-y pinch-zoom;

  @include bp(large) {
    gap: 48px;
    overflow: hidden;
  }

  @include bp(full) {
    overflow: hidden;
  }

  &.resetStyle {
    padding: 0;
    margin: 0;
    transform: none;
    width: 100%;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 24px;
  transition: transform 300ms;
  transform: translateX(var(--offset));

  @include bp(large) {
    gap: 48px;
  }

  .smallGaps > & {
    gap: 16px;

    @include bp(medium) {
      gap: 24px;
    }
  }

  * {
    -webkit-user-drag: none;
    user-select: none;
  }

  &.isDragging {
    transition: none;

    & > * {
      pointer-events: none;
    }
  }
}
