.resultList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #262626 #0e0e0e;
  min-height: 300px;
  max-height: 467px;
  overflow: auto;
  direction: rtl;
  margin-bottom: 30px;

  @include bp(small) {
    padding: 0 0 0 10px;
  }

  li {
    direction: ltr;
  }
}

.noResultsNotice {
  border: 2px solid var(--color-white-20);
  border-radius: var(--border-radius-md);
  padding: var(--card-padding-sm);
  background: var(--color-black-100);
  margin-bottom: 10px;
  line-height: 1.25;

  @include bp(large) {
    background: var(--color-black-60);
  }
}
