.searchControls {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  @include bp(medium) {
    &.isWide {
      display: grid;
      grid-template-areas:
        'location'
        'mapToggler';
      align-items: end;
    }
  }

  &.isDisabled {
    opacity: 0.25;
  }
}

.location {
  grid-area: location;
  position: relative;
  flex-grow: 1;
}

.mapToggler {
  grid-area: mapToggler;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 16px;
}

.errorInput input {
  border-color: var(--color-error);
}

.errorMessage {
  font-size: 14px;
  padding-top: 7px;
  padding-left: 10px;
  color: var(--color-error);
}
