.searchControls {
  display: grid;
  grid-gap: 16px;
  grid-template-areas:
    'location'
    'mapToggler';

  @include bp(medium) {
    &.isWide {
      grid-template-areas:
        'location'
        'mapToggler';
      align-items: end;
    }
  }

  &.isDisabled {
    opacity: 0.25;
  }

  &.isHidden {
    display: none;
  }
}

.location {
  grid-area: location;
  position: relative;
  flex-grow: 1;
}

.mapToggler {
  grid-area: mapToggler;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
