.productCategory {
  padding: 48px 0;
}

.subCategories {
  --gap: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  @include bp(medium) {
    --gap: 24px;
  }
}

.ctaLink {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border: 2px solid var(--color-primary-40);
  border-radius: var(--border-radius-sm);
  gap: 8px;
  transition: var(--transition);
  text-align: center;

  @include bp(large) {
    font-size: 24px;
  }

  &:focus,
  &:hover {
    background: var(--color-white-5);
  }

  path {
    fill: var(--color-primary-100);
  }
}
