.product {
  padding: 8px;
  border: 2px solid var(--color-white-20);
  border-radius: var(--border-radius-md);
  text-align: center;

  @include bp(large) {
    padding: 20px;
  }

  &.removeBorder {
    border: none;
    padding: 4px 4px 0;
    margin-bottom: 16px;

    @include bp(large) {
      padding: 8px 8px 0;
      margin-bottom: 24px;
    }
  }
}

div.product {
  &:hover {
    cursor: auto;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 163/112;
  object-fit: cover;
  border-radius: 6px;

  @include bp(large) {
    aspect-ratio: 230/160;
  }
}

.name {
  margin-top: 8px;
  font-size: 15px;

  @media (width<=767px) {
    font-size: 14px;
  }

  @include bp(large) {
    margin-top: 15px;
  }
}

.price {
  color: var(--color-white-80);
  margin-top: 2px;
  font-size: 11px;
}
