.product {
  padding: 8px;
  border: 2px solid var(--color-white-20);
  border-radius: var(--border-radius-md);
  text-align: center;

  @include bp(large) {
    padding: 20px;
  }

  &.removeBorder {
    border: none;
    padding: 0;

    @include bp(large) {
      padding: 8px 8px 0;
    }
  }

  &.removeBorder.hasFilters {
    padding: 4px 4px 0;
    margin-bottom: 16px;

    @include bp(large) {
      padding: 8px 8px 0;
      margin-bottom: 24px;
    }
  }
}

div.product {
  &:hover {
    cursor: auto;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 163/112;
  object-fit: cover;
  border-radius: var(--border-radius-sm);

  @include bp(large) {
    aspect-ratio: 230/160;
  }
}

.name {
  margin-top: 8px;

  @include bp(large) {
    margin-top: 16px;
  }
}

.price {
  color: var(--color-white-80);
  margin-top: 4px;
}

.hasFilters {
  .name {
    font-size: 15px;

    @media (width<=767px) {
      font-size: 14px;
    }

    @include bp(large) {
      margin-top: 15px;
    }
  }

  .price {
    margin-top: 2px;
    font-size: 11px;
  }
}

.viewProductBtn {
  padding: 0;
  margin: 0 !important;
  background: #fff;
  display: flex;
  flex-flow: column;

  .productContent {
    padding: 6px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .name {
      color: #000;
      margin-top: 0;
    }

    .price {
      margin: 3px 0 12px;
      color: #939393;
    }
  }

  .button {
    width: 100%;
    margin-top: auto;
    min-height: 40px;
    justify-content: space-between;
    line-height: 40px;
    padding: 0 15px;
    background: #000;

    &:hover {
      background: var(--color-primary-100);
      color: #fff;
    }
  }
}
