.header {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include bp(large) {
    flex-direction: row;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp(large) {
    gap: 48px;
    width: 50%;
  }
}

.name {
  line-height: 1.25;
}

.variant {
  color: var(--color-primary-100);
}

.description {
  color: var(--color-white-80);
  font-size: 24px;
}

.breadcrumbs {
  margin-top: 60px;

  @include bp(large) {
    margin-top: 0;
  }
}

.contentBoxTitle {
  display: flex;
  justify-content: space-between;
}

.warrantyDescription {
  p {
    color: var(--color-white-80);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

    @include bp(large) {
      font-size: 20px;
    }
  }
}

.years {
  color: var(--color-primary-100);
}
