@import '/styles/globals/helpers';

@mixin image() {
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  object-position: center;

  @include bp(medium) {
    border-radius: var(--border-radius-sm);
  }
}

.container {
  width: 100%;
  position: relative;

  @include bp(large) {
    position: sticky;
    top: 144px;
    height: min-content;
    max-width: 516px;
  }

  .navigationButton {
    @include center-vertical;

    --side-space: -16px;

    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: var(--color-black-100);

    @include bp-below(large) {
      display: none;
    }
  }
}

.mainImageContainer {
  @include image;

  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  margin-bottom: var(--gap-global-sm);
  border-radius: var(--border-radius-md);
  background-position: 50% 50%;
  z-index: 2;

  @include bp(large) {
    margin-bottom: 24px;
  }
}

.thumbnailCarouselContainer {
  @include bp(large) {
    gap: 24px;
  }
}

.thumbnailWrapper {
  width: 25%;
  min-width: 80px;
  flex-shrink: 0;

  @include bp(large) {
    width: 123px;
  }
}

.thumbnail {
  @include image;

  cursor: pointer;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  transition: all 0.2s ease-in-out;

  &.active {
    border: 2px solid var(--color-primary-100);
  }
}

.prevButton {
  left: var(--side-space);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nextButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  right: var(--side-space);
}
