@mixin image() {
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.container {
  width: 100%;
  position: relative;

  @include bp(large) {
    width: 50%;
    position: sticky;
    top: 144px;
    height: min-content;
  }
}

.mainImageContainer {
  @include image;

  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  margin-bottom: 36px;
  border-radius: 16px;
  background-position: 50% 50%;
  z-index: 2;
  cursor: zoom-in;

  @include bp(large) {
    margin-bottom: 24px;
  }
}

.thumbnail {
  @include image;

  cursor: pointer;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.swiperSlide {
  width: 20% !important;
  min-width: 80px;

  @include bp(large) {
    width: initial;
  }
}
