.wrapper {
  position: relative;
  background: var(--color-primary-100);
  padding-block: 24px;
  z-index: var(--z-index-choose-your-vehicle-block);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--color-black-100);
}

.select {
  width: 100%;
  min-height: 48px;
}

.button {
  --block-padding: 14px;

  width: 100%;
  max-width: 360px;
  white-space: nowrap;

  @include bp(large) {
    --block-padding: 12px;

    width: fit-content;
  }
}

.title {
  margin: 0;
}

.link {
  color: var(--color-primary-100);
  text-decoration: underline;
}

.animateHeightContainer {
  margin: 24px 0 32px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgb(24 22 22 / 0%) 0%,
    rgb(24 22 22 / 49%) 9.72%,
    rgb(24 22 22 / 93%) 31.08%,
    #181616 57.12%,
    #181616 100%
  );
  border-radius: 0 0 16px 16px;

  @include bp(large) {
    padding: 96px 112px;
  }
}
