.wrapper {
  position: relative;
  margin-top: 48px;
  background: var(--color-primary-100);
  padding-block: 24px;

  @include bp(large) {
    position: sticky;
    z-index: var(--z-index-choose-your-vehicle-block);
    top: var(--header-height);
    padding-block: 32px;
  }
}

.sticker {
  background: var(--color-primary-100);
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;

  @include bp(large) {
    position: absolute;
    top: 0;
    padding: 12px 24px;
    border-radius: 8px 8px 8px 0;
    transform: translateY(-50%);
    transition: opacity 0.2s;
  }

  .isCloseToHeader & {
    @include bp(large) {
      opacity: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  border-radius: 16px;
  padding: 24px;
  background-color: var(--color-black-100);

  @include bp(large) {
    flex-direction: row;
    margin-top: 0;
    padding: 16px 24px;
    transition: margin-top 0.1s;
  }
}

.select {
  width: 100%;
  min-height: 48px;
}

.button {
  --block-padding: 14px;

  width: 100%;
  max-width: 360px;
  white-space: nowrap;

  @include bp(large) {
    --block-padding: 12px;

    width: fit-content;
  }
}

.title {
  margin: 0;
}

.link {
  color: var(--color-primary-100);
  text-decoration: underline;
}

.animateHeightContainer {
  margin: 24px 0 32px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgb(24 22 22 / 0%) 0%,
    rgb(24 22 22 / 49%) 9.72%,
    rgb(24 22 22 / 93%) 31.08%,
    #181616 57.12%,
    #181616 100%
  );
  border-radius: 0 0 16px 16px;

  @include bp(large) {
    padding: 96px 112px;
  }
}
