.footer {
  width: 100%;

  .footerWrap {
    max-width: 100%;
    padding-inline: var(--container-inline-padding);
  }

  @media (width<=767px) {
    padding-top: 48px;
  }
}

.footerContainerA {
  position: relative;

  // overflow-x: hidden;
}

.footerContainerB {
  display: flex;
  flex-direction: column;
  gap: 0 6rem;
  padding-bottom: 48px;
  position: relative;
  z-index: var(--z-index-footer);

  @include bp(large) {
    padding: 48px 0;
  }
}

.footerContainerC {
  // display: none;
  display: flex;
  gap: var(--gap-global);

  @media (width<=991px) {
    display: none;
  }

  // @include bp(medium) {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  // }

  // @include bp(large) {
  //   display: grid;
  //   grid-template-columns: repeat(5, 1fr);
  // }
  .leftPart {
    width: 50%;

    @media (width<=1800px) {
      width: 30%;
    }

    @media (width<=1279px) {
      width: 25%;
    }
  }

  .rightPart {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    @media (width<=1800px) {
      width: 70%;
    }

    @media (width<=1279px) {
      width: 75%;
    }

    .column {
      width: 25%;
    }
  }
}

/* Mobile Footer */
.mobileFooter {
  display: none;

  @media (width<=991px) {
    display: block;
  }

  .footerContainerC {
    display: flex;
    flex-wrap: wrap;

    .column {
      width: 46%;

      &:first-child {
        width: 100%;
      }

      .menuList {
        .menuItem {
          a {
            width: auto;
          }
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  svg {
    width: 145px;
    height: 54px;

    @include bp(large) {
      width: 95px;
      height: 36px;
    }
  }
}

.backgroundGradient {
  background: linear-gradient(
    to bottom,
    var(--color-black-5),
    var(--color-black-60),
    var(--color-black-100),
    var(--color-black-100)
  );
  display: block;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-global);

  // @include bp(medium) {
  //   &:first-child {
  //     grid-column: 1 / span 3;
  //     display: flex;
  //     flex-direction: row;
  //   }

  //   &:last-child {
  //     grid-column: 1 / span 3;
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //   }

  //   &:nth-child(n + 2):nth-child(-n + 4) {
  //     grid-column: span 1;
  //   }
  // }

  @include bp(large) {
    &:first-child {
      flex-direction: column;
    }

    &:last-child {
      display: flex;
      grid-column: span 1;
    }

    &:first-child,
    &:nth-child(n + 2):nth-child(-n + 4) {
      grid-column: span 1;
    }
  }
}

.logoColumn {
  display: grid;
  row-gap: var(--gap-global);
}

.text {
  margin: 0;
  max-width: 180px;

  @media (width<=767px) {
    line-height: 1.5;
    max-width: 90%;
    font-size: 14px;
  }
}

.menuList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menuItem {
  &:first-child {
    margin-bottom: var(--gap-global-xs);
  }
}

.arrow {
  color: var(--color-primary-100);
  margin-top: -2px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--gap-global);
  padding-top: var(--gap-global);
  border-top: 2px solid var(--color-white-20);

  @include bp(large) {
    margin-top: 48px;
    padding-top: 48px;
  }
}

.copyrightTextMobile {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-white-80);
  margin-bottom: 0;
  display: none;

  @media (width<=767px) {
    display: block;
  }
}

.copyrightText,
.recaptchaText {
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.copyrightText {
  &:first-child {
    text-transform: uppercase;
  }

  @media (width<=767px) {
    &:last-child {
      display: none;
    }
  }
}

.recaptchaText {
  margin-top: 1em;

  a {
    text-decoration: underline;
  }
}
