.wrapper {
  display: none;

  @include bp(medium) {
    display: block;
    min-height: calc(
      100vh - var(--header-height) - var(--store-locator-desktop-form-height)
    );
    scroll-margin-top: calc(
      var(--header-height) + var(--store-locator-desktop-form-height)
    );
    background: linear-gradient(
      to bottom,
      var(--color-black-60),
      var(--color-black-90) 20%
    );
  }
}

.container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visualContainer {
  --margin-block: 48px;
  --padding: 24px;

  display: flex;
  gap: 16px;
  flex-grow: 1;
  width: 100%;
  max-height: 725px;
  padding: var(--padding);
  margin: var(--margin-block) 0;
  list-style: none;
  border-radius: 0 0 32px 32px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--color-black-60) 10%,
    var(--color-black-100) 100%
  );

  @include bp(large) {
    --padding: 48px;

    gap: 24px;
  }
}

.results {
  position: relative;
  width: 35%;
  overflow-y: scroll;
  max-height: calc(
    100vh - var(--header-height) - var(--store-locator-desktop-form-height) -
      var(--margin-block) * 2 - var(--padding) * 2
  );
  min-height: 300px;
  padding-right: 16px;
  scrollbar-width: thin;
  scrollbar-color: #262626 #0e0e0e;

  @include bp(large) {
    padding-right: 24px;
  }

  &::-webkit-scrollbar {
    width: 24px;
    border-radius: 8px;
    overflow: hidden;
  }

  &::-webkit-scrollbar-track {
    background: #0e0e0e;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 7px solid #0e0e0e;
    background-color: #262626;
  }
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0;
}
