.header {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include bp(large) {
    flex-direction: row;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp(large) {
    gap: 48px;
    width: 50%;
  }
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include bp(medium) {
    gap: 24px;
  }
}

.name {
  line-height: 1.25;
}

.variant {
  color: var(--color-primary-100);
}

.description {
  color: var(--color-white-80);
  font-size: 24px;
  margin: 0;

  @include bp(medium) {
    margin-bottom: 16px;
  }
}

.breadcrumbs {
  margin-top: 60px;

  @include bp(large) {
    margin-top: 0;
  }
}

.contentBoxTitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
}

.warrantyDescription {
  padding: 24px;

  @include bp(large) {
    padding: 48px;
  }

  p {
    color: var(--color-white-80);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

    @include bp(large) {
      font-size: 20px;
    }
  }
}

.years,
.redColor {
  color: var(--color-primary-100);
}

.sku {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font-secondary);

  @include bp(medium) {
    font-size: 24px;
  }
}
