.header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @include bp(large) {
    flex-direction: row;
  }
}

.details {
  @include bp(large) {
    padding-inline: var(--gap);
    flex-grow: 1;
  }
}

.variant {
  color: var(--color-primary-100);
}

.meta {
  margin-bottom: var(--gap-global-sm);

  @media (width<=1279px) {
    &.desktop {
      position: absolute;
      visibility: hidden;
    }
  }

  @media (width>1279px) {
    &.mobile {
      position: absolute;
      visibility: hidden;
    }
  }
}

.productAccordion {
  margin-top: var(--gap);
  margin-inline: calc(-1 * var(--container-inline-padding));
  border-top: 2px solid var(--color-white-20);
}

.productDescription {
  margin-top: var(--gap);
  color: var(--color-white-80);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.breadcrumbs {
  margin-top: 0;
}

.years,
.redColor {
  color: var(--color-primary-100);
}

.sku {
  text-transform: uppercase;
}

.enquiryForm {
  @include bp(large) {
    max-width: 468px;
  }
}

.hideOnMobile {
  display: none;

  @include bp(large) {
    display: block;
  }
}

.hideOnTablet {
  @include bp(medium) {
    display: none;
  }
}

.ratingBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .stars {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    cursor: pointer;
  }

  button {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (width <=767px) {
      gap: 5px;

      svg {
        transform: scale(0.8);
      }
    }
  }

  @media (width <=767px) {
    font-size: 12px;
  }
}
