@import '/styles/globals/helpers';

.backdrop {
  position: fixed;
  z-index: var(--z-index-backdrop);
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-100);

  @include bp(medium) {
    background-color: var(--color-black-60);
  }
}

.modal {
  @include scrollbar;

  position: relative;
  z-index: var(--z-index-modal);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  padding: 20px;
  background-color: var(--color-black-100);
  overflow: hidden auto;

  @include bp(medium) {
    --max-width: 1320px;

    position: absolute;
    top: 50%;
    left: 50%;
    gap: 48px;
    width: var(--max-width);
    max-width: calc(100% - 80px);
    max-height: calc(100vh - 80px);
    padding: 48px;
    border-radius: 16px;
    background-color: var(--color-dark-gray-100);
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  @include bp(medium) {
    justify-content: space-between;
  }
}

.backwardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;

  @include bp(medium) {
    display: none;
  }
}

.closeButton {
  margin-right: -8px;

  @include bp-below(medium) {
    display: none;
  }
}

.content {
  font-size: 20px;
  color: var(--color-white-80);
}
