@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  display: inline-flex;
  transform-origin: top right;
  transform-origin: center;
  animation: loading 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.big {
  svg {
    width: 64px;
    height: 64px;
  }
}
