.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.bars {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
}

.bar {
  display: block;
  position: absolute;
  left: 3px;
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: var(--color-white-100);

  &.top {
    top: 6px;
    transition:
      top 150ms 150ms,
      rotate 150ms;

    .isActive & {
      top: 11px;
      rotate: 45deg;
      transition:
        top 150ms,
        rotate 150ms 150ms;
    }
  }

  &.middle {
    top: 11px;
    transition: opacity 150ms;

    .isActive & {
      opacity: 0;
    }
  }

  &.bottom {
    top: 16px;
    transition:
      top 150ms 150ms,
      rotate 150ms;

    .isActive & {
      top: 11px;
      rotate: -45deg;
      transition:
        top 150ms,
        rotate 150ms 150ms;
    }
  }
}
