@import '/styles/globals/typography';

.container {
  padding-block: 24px;

  @include bp(large) {
    position: relative;
    padding-block: 48px;
  }
}

.accordion {
  @include bp(large) {
    max-width: 456px;
  }
}

.item {
  // accordion trigger
  & > div:first-child {
    @include bp(large) {
      font-size: 24px;
    }
  }
}

.mediaWrapper {
  margin-top: 24px;

  @include bp(large) {
    position: absolute;
    width: 504px;
    right: var(--container-inline-padding);
    top: 0;
    margin-top: 0;
    height: 100%;
  }
}

.media {
  display: grid;
  place-content: center;
  overflow: hidden;

  img {
    height: auto;
    border-radius: var(--border-radius-sm);
    max-width: 100%;

    @include bp(medium) {
      border-radius: var(--border-radius-md);
    }
  }
}

[aria-hidden='true'] {
  .mediaWrapper {
    opacity: 0;
    animation: visible 1.6s reverse;
  }
}

[aria-hidden='false'] {
  .mediaWrapper {
    opacity: 1;
    animation: visible 1.6s;
  }
}

.videoWrapper {
  * {
    @include bp(large) {
      max-height: inherit;
    }
  }
}

.description {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
  }

  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h4,
  h5,
  h6,
  p {
    color: var(--color-white-80);
  }

  a {
    @include text-link;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  br {
    display: none;

    @include bp(large) {
      display: block;
    }
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
