.downloadButton {
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  border-radius: var(--border-radius-sm);
  color: var(--color-black-100);
  background: var(--color-black-10);
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background: var(--color-black-20);
  }
}
