.downloadButton {
  --size: 40px;

  display: grid;
  place-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius-sm);
  color: var(--color-black-100);
  background: var(--color-white-40);
  cursor: pointer;
  transition: var(--transition);

  &.isLoading,
  &:hover {
    background: var(--color-black-20);
  }

  &.isLoading {
    pointer-events: none;
  }

  @include bp(large) {
    --size: 56px;
  }
}
