.downloadButton {
  --size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  padding: 0;
  border-radius: var(--border-radius-sm);
  color: var(--color-black-100);
  background: var(--color-white-40);
  cursor: pointer;
  transition: var(--transition);

  &.isLoading,
  &:hover {
    background: var(--color-white-60);
  }

  &.isLoading {
    pointer-events: none;
  }

  @include bp(large) {
    --size: 56px;
  }
}
