@import '/styles/globals/_typography.scss';

.wrapper {
  position: relative;
}

.inputWrapper {
  --inline-padding: 24px;
  --input-font-size: 20px;
  --label-font-size: 20px;
  --filled-label-font-size: 16px;
  --filled-label-line-height: 1.5;
  position: relative;
  display: inline-flex;
  width: 100%;
}

.hasLabel {
  padding-top: calc(
    var(--filled-label-font-size) * var(--filled-label-line-height)
  );
}

.label {
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
  position: absolute;
  z-index: var(--z-index-label);
  left: var(--inline-padding);
  overflow: hidden;
  width: 100%;
  padding-right: var(--inline-padding);
  transition: var(--transition);
  pointer-events: none;
}

@mixin input {
  font-size: var(--input-font-size);
  width: 100%;
  max-height: var(--max-height);
  padding: var(--vertical-padding) var(--inline-padding);
  transition: var(--transition);
  text-align: left;
  color: var(--font-color);
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  background: transparent;

  & + .label {
    color: var(--label-color);
  }

  &:hover {
    background: var(--hover-bg-color);
  }

  &:focus,
  &:active {
    color: var(--focus-color);
    border-color: var(--focus-border-color);
    outline: none;
  }

  &:focus,
  &:active,
  &.filled {
    & + .label {
      font-size: var(--filled-label-font-size);
      line-height: var(--filled-label-line-height);
      left: 10px;
      transform: translateY(-100%);
    }
  }

  &.filled {
    color: var(--filled-color);
  }

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.input {
  @include input;
}

.small {
  --vertical-padding: 2px;
  --max-height: 39px;
  --label-line-height: 1.95;
}

.large {
  --max-height: 56px;
  --vertical-padding: 10px;
  --label-line-height: 2.8;
}

.lightBackground {
  --font-color: var(--color-black-60);
  --border-color: var(--color-black-20);
  --focus-color: var(--color-black-100);
  --focus-border-color: var(--color-black-40);
  --hover-bg-color: var(--color-black-5);
  --placeholder-color: var(--color-black-60);
  --filled-color: var(--color-black-100);

  & + .label {
    --label-color: var(--color-black-60);
  }
}

.darkBackground {
  --font-color: var(--color-white-60);
  --border-color: var(--color-white-20);
  --focus-color: var(--color-white-100);
  --focus-border-color: var(--color-white-40);
  --hover-bg-color: var(--color-white-5);
  --placeholder-color: var(--color-white-60);
  --filled-color: var(--color-white-100);

  & + .label {
    --label-color: var(--color-white-60);
  }
}

.error {
  border-color: var(--color-error);
}

.errorMessage {
  font-size: 16px;
  color: var(--color-error);
}
