.builder {
  --vertical-padding: 0 24px;

  min-height: calc(100svh - var(--header-height));
  display: flex;
  padding-block: var(--vertical-padding);

  @include bp(large) {
    --vertical-padding: 24px 48px;

    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;

  @include bp(large) {
    display: block;
  }
}

.top {
  --gap: 24px;

  position: relative;
  display: flex;
  flex: 1;
  min-height: 300px;

  @include bp-below(large) {
    margin-inline: calc(-1 * var(--container-inline-padding));
  }

  @include bp(large) {
    display: flex;
    gap: var(--gap);
    min-height: 538px;
  }
}

.results {
  display: none;

  @include bp(large) {
    display: block;
    width: 318px;
    height: 538px;
    border-radius: var(--border-radius-md);
    background: var(--color-black-100);

    ul {
      background: transparent;
    }
  }
}

.map {
  display: none;

  @include bp(large) {
    display: block;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    min-height: unset !important;
  }
}
