.preview {
  position: relative;
  z-index: 0;
  flex: 1;
  overflow: clip;
  background: var(--color-black-100);
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp(large) {
    aspect-ratio: 864/538;
    max-width: 864px;
    max-height: 538px;
    margin-left: var(--gap);
    border-radius: var(--border-radius-md);
  }
}

.base,
.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @include bp(large) {
    left: auto;
    right: 0;
    max-width: unset;
    max-height: unset;
    transform: translateY(-50%);
  }

  &.isLoaded {
    opacity: 1;
  }
}

.downloadButton {
  position: absolute;
  right: 24px;
  bottom: 128px;
  z-index: calc(infinity - 1);

  @include bp(large) {
    right: 20px;
    bottom: 20px;
  }
}

.backgroundDesktop,
.backgroundMobile {
  object-fit: cover;
  object-position: right top;
  z-index: -1;
}

.backgroundDesktop {
  @include bp-below(large) {
    display: none;
  }
}

.backgroundMobile {
  object-fit: cover;
  object-position: center top;

  @include bp(large) {
    display: none;
  }
}
