.preview {
  position: relative;
  z-index: 0;
  flex: 1;
  overflow: clip;
  background: var(--color-black-100);
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp(large) {
    aspect-ratio: 696/409;
    grid-column: span 8;
    max-height: 409px;
    border-radius: var(--border-radius-md);
  }
}

.base,
.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: contain;
  object-position: 50% 40%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @include bp(large) {
    left: auto;
    right: 0;
    max-width: unset;
    max-height: unset;
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &.isLoaded {
    opacity: 1;
  }
}

.resetButton,
.downloadButton {
  --mobile-bar-summary-height: 64px;

  position: absolute;
  right: var(--gap-global-sm);
  bottom: calc(var(--mobile-bar-summary-height) + var(--gap-global-sm));
  z-index: calc(infinity - 1);

  @include bp(large) {
    bottom: var(--gap-global-sm)
  }
}

.resetButton {
  position: absolute !important;
  right: auto;
  left: 24px;
  display: flex;

  @include bp(large) {
    display: none;
  }
}

.backgroundDesktop,
.backgroundMobile {
  object-fit: cover;
  object-position: right top;
  z-index: -1;
}

.backgroundDesktop {
  @include bp-below(large) {
    display: none;
  }
}

.backgroundMobile {
  object-fit: cover;
  object-position: center top;

  @include bp(large) {
    display: none;
  }
}
