.preview {
  position: relative;
  flex: 1;
  overflow: clip;
  background: var(--color-white-100);

  @include bp(large) {
    aspect-ratio: 864/538;
    border-radius: var(--border-radius-md);
    margin-left: var(--gap);
  }
}

.background,
.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: contain;
}

.isMobile {
  @include bp(medium) {
    display: none;
  }
}

.isDesktop {
  @include bp-below(medium) {
    display: none;
  }
}

.downloadButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;

  @include bp-below(large) {
    display: none;
  }
}
