@import '/styles/globals/typography';
@import '/styles/globals/helpers';

.productsCarousel {
  margin-top: var(--gap-global);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--gap-global-xs);

  @include bp(large) {
    gap: var(--gap-global-sm);
  }
}

.number {
  color: var(--color-primary-100);
  font-weight: 600;
  flex-shrink: 0;
}

.stepTitle {
  flex-shrink: 0;
  font-weight: 400;
}

.resetButton {
  display: none;

  @include bp(large) {
    display: flex;
    margin-left: auto;
  }
}

.coverName {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  gap: 14px;
  min-width: 0;
  font-size: 16px;

  svg {
    color: var(--color-primary-100);

    .badge:hover &,
    .badge:focus & {
      color: var(--color-white);
    }
  }
}

.carouselWrapper {
  display: flex;
  gap: var(--gap-global);
  align-items: flex-start;
  margin-top: var(--gap-global);

  --product-width: 108px;

  @include bp(medium) {
    --product-width: 135px;
  }
}

.carousel {
  margin-left: -10px;

  @include bp-below(medium) {
    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.swiper) {
      overflow: visible;
    }
  }

  @include bp(medium) {
    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.swiper-wrapper) {
      padding-block: 8px;
      margin-top: -8px;
    }
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.swiper-slide) {
    width: fit-content;
    height: auto;
  }
}

.swiperSlide {
  width: var(--product-width);
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: var(--gap-global-xs);
  padding: 0;
  transition: opacity 200ms;
  width: var(--product-width);

  &.isDisabled {
    pointer-events: none;
  }

  &.isCover {
    flex-shrink: 0;
  }
}

.productIcon {
  @include center;

  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  border-radius: 4px;
  aspect-ratio: 1/1;
  border: 2px solid currentcolor;
  transition: all 150ms;
  color: var(--color-black-100);
  background-color: var(--color-white-80);

  .isSelected & {
    color: var(--color-primary-100);
  }

  .isDisabled & {
    opacity: 0.3;
  }
}

.arrowIcon {
  color: var(--color-black-100);
}

.productImageContainer {
  position: relative;
  border-radius: 8px;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  transition: width 0.2s;
  background-color: var(--color-white-100);

  @include bp(medium) {
    aspect-ratio: 1.4;
  }

  .isDisabled &,
  .isGroupItemFirst.isGroupItemOpen & {
    opacity: 0.3;
  }
}

.productImage {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.productMeta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color-white-100);
}

.productName {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  margin: 0;

  .isDisabled &,
  .isGroupItemFirst.isGroupItemOpen & {
    opacity: 0.3;
  }
}

.productPrice {
  font-size: 12px;
  opacity: 0.8;
  text-transform: uppercase;

  .isDisabled &,
  .isGroupItemFirst.isGroupItemOpen & {
    opacity: 0.3;
  }
}

.incompatible {
  font-size: 12px;
  color: var(--color-primary-100);
  opacity: 0.6;
}

.isGroupItem {
  position: relative;

  &.isGroupItemOpen {
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: -8px;
      left: -8px;
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      background-color: #2f2d2d;
    }
  }

  &.isGroupItemFirst::before {
    border-radius: 8px 0 0 8px;
  }

  &.isGroupItemLast::before {
    border-radius: 0 8px 8px 0;
  }
}
