@import '/styles/globals/typography';
@import '/styles/globals/helpers';

.productsCarousel {
  margin-top: 24px;

  @include bp(medium) {
    margin-top: 40px;
  }
}

.title {
  @include paragraph-lg;

  font-weight: 400;
  margin-block: 0 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.number {
  color: var(--color-primary-100);
  font-weight: 600;
}

.badge {
  font-size: 16px;
  gap: 14px;

  svg {
    color: var(--color-primary-100);

    .badge:hover &,
    .badge:focus & {
      color: var(--color-white);
    }
  }
}

.carouselWrapper {
  display: flex;
  gap: 48px;
  align-items: flex-start;

  --product-width: 134px;

  @include bp(medium) {
    --product-width: 168px;
  }
}

.carousel {
  @include bp-below(medium) {
    overflow: hidden;

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.swiper) {
      overflow: visible;
    }
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.swiper-slide) {
    width: fit-content;
  }
}

.swiperSlide {
  width: var(--product-width);
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  transition: opacity 200ms;
  width: var(--product-width);
  padding-block: 10px;

  &.isDisabled {
    pointer-events: none;
  }

  &.isCover {
    flex-shrink: 0;
  }
}

.productIcon {
  @include center;

  position: absolute;
  top: 22px;
  right: 12px;
  width: 40px;
  border-radius: 8px;
  aspect-ratio: 1/1;
  border: 2px solid currentcolor;
  transition: all 150ms;
  color: var(--color-black-100);
  background-color: rgb(255 255 255 / 80%);

  .isSelected & {
    color: var(--color-primary-100);
  }

  .isDisabled & {
    opacity: 0.3;
  }
}

.arrowIcon {
  color: var(--color-black-100);
}

.productImageContainer {
  position: relative;
  border-radius: 8px;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  transition: width 0.2s;
  background-color: var(--color-white-100);

  @include bp(medium) {
    aspect-ratio: 1.4;
  }

  .isDisabled &,
  .isGroupItemFirst.isGroupItemOpen & {
    opacity: 0.3;
  }
}

.productImage {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.productMeta {
  color: var(--color-white-100);
}

.productName {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  margin: 0;

  .isDisabled &,
  .isGroupItemFirst.isGroupItemOpen & {
    opacity: 0.3;
  }
}

.productPrice {
  font-size: 12px;
  opacity: 0.8;
  text-transform: uppercase;

  .isDisabled &,
  .isGroupItemFirst.isGroupItemOpen & {
    opacity: 0.3;
  }
}

.isGroupItem {
  position: relative;

  &.isGroupItemOpen {
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      width: calc(100% + 19px);
      height: 100%;
      background-color: var(--color-white-10);
    }
  }

  &.isGroupItemFirst::before {
    border-radius: 8px 0 0 8px;
  }

  &.isGroupItemLast::before {
    border-radius: 0 8px 8px 0;
  }
}
