@import '/styles/globals/typography';

.sidebar {
  --border-color: var(--color-white-20);

  display: none;
  flex-direction: column;
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 2;
  width: 100vw;
  height: calc(100dvh - var(--header-height));
  padding: 48px var(--container-inline-padding) var(--container-inline-padding);
  color: var(--color-white-80);
  background-color: var(--color-black-100);
  overflow: auto;

  &.isOpen {
    display: flex;
  }

  &.isDisabled {
    pointer-events: none;
    opacity: 0.5;

    @include bp-below(large) {
      opacity: 0;
    }
  }

  @include bp(large) {
    display: flex;
    position: static;
    height: unset;
    z-index: unset;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius-md);
    padding: 8px 32px 32px;
    flex: 0 0 408px;
    width: 408px;
    background: transparent;
    overflow: unset;
  }
}

.nr {
  --size: 20px;

  display: grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 12px;
  color: var(--color-black-100);
  background-color: var(--color-primary-100);

  &.isSmall {
    --size: 16px;
  }
}

.sidebarMobileBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px;
  background: var(--color-white-80);

  @include bp(large) {
    display: none;
  }

  &.isHidden {
    display: none;
  }
}

.sidebarMobileBarSummary {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobileSidebarToggle {
  position: relative;
  margin-right: auto;
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: var(--border-radius-sm);
  color: var(--font-color);
  background: var(--bg-color);

  .summary & {
    --font-color: var(--color-black-100);
    --bg-color: var(--color-white-100);
    --hover-font-color: var(--color-black-100);
    --hover-bg-color: var(--color-white-100);

    grid-area: toggle;
  }

  .sidebarMobileBar & {
    --font-color: var(--color-white-100);
    --bg-color: var(--color-black-100);
    --hover-font-color: var(--color-black-100);
    --hover-bg-color: var(--color-white-100);
  }

  .nr {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  svg path {
    fill: currentcolor;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--hover-font-color);
      background: var(--hover-bg-color);
    }
  }

  @include bp(large) {
    display: none;
  }
}

.section {
  &.isOpen {
    flex: 1;
  }
}

.sectionHeader {
  @include paragraph-lg;

  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 18px 0;
  color: inherit;
  text-align: left;
  font-family: var(--font-secondary);
  font-weight: 600;
  border-bottom: var(--border-size) solid var(--border-color);
  transition: color 150ms;

  .section.isOpen & {
    border-bottom-color: transparent;
  }

  .section:not(.isOpen) &:hover {
    color: var(--color-white-100);
  }
}

.sectionHeaderIcon {
  margin-left: auto;
  transition: transform 0.4s;
  transform-origin: center center;

  .section.isOpen & {
    transform: rotate(180deg);
  }
}

.sectionContent {
  padding-block: 0 24px;
  display: none;
  border-bottom: var(--border-size) solid var(--border-color);

  .section.isOpen & {
    display: block;
  }
}

// Products
.noProducts {
  display: grid;
  gap: 24px;
}

.productsList {
  display: grid;
  gap: 8px;
  counter-reset: section;
  padding: 0;
  margin: 0;
}

.productsListItem {
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: counters(section, '.');
    counter-increment: section;
    color: var(--color-primary-100);
    min-width: 24px;
    font-family: var(--font-secondary);
    font-weight: 600;
  }
}

.productBox {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  padding: 4px 16px;
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius-sm);
  flex: 1;

  &.isEmpty {
    justify-content: center;
  }
}

.productBoxName {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--color-white-100);
}

.productRemove {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  color: var(--color-primary-80);
  transition: color 150ms;

  &:hover {
    color: var(--color-primary-100);
  }
}

// Store
.map {
  height: 256px;
  min-height: unset;
  margin-top: 16px;

  @include bp(large) {
    display: none;
  }
}

.results {
  margin-top: 16px;

  &,
  ul {
    background: transparent;
  }

  @include bp(large) {
    display: none;
  }
}

// Summary
.summary {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: '. . button' 'toggle price button' 'toggle installation button' '. . button';
  gap: 0 16px;
  margin-top: auto;
  padding-top: 16px;

  @include bp(large) {
    grid-template-columns: 1fr auto;
    grid-template-areas: '. button' 'price button' 'installation button' '. button';
  }
}

.summaryPrice,
.sidebarMobileBarPrice {
  @include paragraph-lg;

  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--color-primary-100);
}

.summaryPrice {
  grid-area: price;
  align-self: end;
}

.summaryInstallation {
  @include paragraph-sm;

  grid-area: installation;

  @include bp-below(large) {
    .isDesktop {
      display: none;
    }
  }
}

.summaryButtonWrapper {
  width: fit-content;
  grid-area: button;
  align-self: center;
}

.list {
  max-width: 318px;
  height: fit-content;
  background-color: var(--color-black-100);
  border-radius: 16px;
  padding: 24px;

  @include bp-below(large) {
    display: none;
  }
}

.isMobileOnly {
  @include bp(large) {
    display: none;
  }
}
