@import '/styles/globals/typography';

.sidebar {
  --border-color: var(--color-white-20);

  display: none;
  flex-direction: column;
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 2;
  width: 100vw;
  height: calc(100dvh - var(--header-height));
  padding: 72px var(--container-inline-padding) var(--container-inline-padding);
  color: var(--color-white-80);
  background-color: var(--color-black-100);
  overflow: auto;
  row-gap: var(--gap-global);

  &.isOpen {
    display: flex;
  }

  &.isDisabled {
    pointer-events: none;
    opacity: 0.5;

    @include bp-below(large) {
      opacity: 0;
    }
  }

  @include bp(large) {
    display: flex;
    position: static;
    width: unset;
    z-index: unset;
    border-radius: var(--border-radius-md);
    padding: var(--card-padding);
    background: transparent;
    overflow: unset;
    grid-column: span 4;
    height: fit-content;
    border: var(--border-size) solid var(--border-color);
  }
}

.nr {
  --size: 20px;

  display: grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 12px;
  color: var(--color-black-100);
  background-color: var(--color-primary-100);

  &.isSmall {
    --size: 16px;
  }
}

.sidebarMobileBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: var(--gap-global-xs) var(--gap-global);
  background: var(--color-white-40);

  @include bp(large) {
    display: none;
  }

  &.isHidden {
    display: none;
  }
}

.sidebarMobileBarSummary {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobileSidebarToggle {
  position: relative;
  margin-right: auto;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: var(--border-radius-sm);
  color: var(--font-color);
  background: var(--bg-color);
  display: grid;
  place-content: center;

  .summary & {
    --font-color: var(--color-black-100);
    --bg-color: var(--color-white-100);
    --hover-font-color: var(--color-black-100);
    --hover-bg-color: var(--color-white-100);

    grid-area: toggle;
  }

  .sidebarMobileBar & {
    --font-color: var(--color-white-100);
    --bg-color: var(--color-black-100);
    --hover-font-color: var(--color-black-100);
    --hover-bg-color: var(--color-white-100);
  }

  .nr {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  svg path {
    fill: currentcolor;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--hover-font-color);
      background: var(--hover-bg-color);
    }
  }

  @include bp(large) {
    display: none;
  }
}

.productCounter {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  display: grid;
  place-content: center;
  color: var(--color-black-100);
  font-size: 10px;
  font-family: var(--font-secondary);
  font-weight: 600;
  line-height: 1;
  background-color: var(--color-primary-100);
  border-radius: 50%;
}

.section {
  &.isOpen {
    flex: 1;
  }

  &:first-child {
    .sectionHeader {
      padding-top: 0;
    }
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: var(--gap-global-sm);
  width: 100%;
  color: inherit;
  text-align: left;
  border-bottom: var(--border-size) solid var(--border-color);
  transition: color 150ms;
  padding-block: var(--gap-global-sm);
  padding-inline: 0;

  .section.isOpen & {
    border-bottom-color: transparent;
  }

  .section:not(.isOpen) &:hover {
    color: var(--color-white-100);
  }

  span {
    margin-bottom: 0;
  }
}

.sectionHeaderInner {
  display: flex;
  align-items: center;
  column-gap: var(--gap-global-xs);
}

.sectionHeaderIcon {
  margin-left: auto;
  transition: transform 0.4s;
  transform-origin: center center;

  .section.isOpen & {
    transform: rotate(180deg);
  }
}

.sectionContent {
  padding-block: 0 var(--gap-global-sm);
  display: none;
  border-bottom: var(--border-size) solid var(--border-color);

  .section.isOpen & {
    display: block;
  }
}

// Products
.noProducts {
  display: grid;
  gap: var(--gap-global-sm);
}

.productsList {
  display: grid;
  gap: 8px;
  counter-reset: section;
  padding: 0;
  margin: 0;
}

.productsListItem {
  display: flex;
  align-items: center;
  gap: var(--gap-global-xs);
  font-size: 16px;
}

.productBox {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  padding: 4px 16px;
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius-sm);
  flex: 1;

  &.isEmpty {
    justify-content: center;
  }
}

.productBoxPrice {
  display: inline-block;
  min-width: 64px;
}

.productBoxName {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--color-white-100);
}

.productRemove {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  color: var(--color-primary-100);
  transition: color 150ms;

  &:hover {
    color: var(--color-primary-100);
  }
}

// Store
.map {
  height: 256px;
  min-height: unset;
  margin-top: var(--gap-global-xs);

  @include bp(large) {
    display: none;
  }
}

.results {
  margin-top: 16px;

  &,
  ul {
    background: transparent;
  }

  @include bp(large) {
    display: none;
  }
}

.resultStoreTile {
  margin-top: var(--gap-global);
}

// Summary
.summary {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: '. . button' 'toggle price button' 'toggle installation button' '. . button';
  column-gap: var(--gap-global-xs);
  margin-top: auto;
  margin-top: calc(-1 * var(--gap-global-xs));

  @include bp(large) {
    grid-template-columns: 1fr auto;
    grid-template-areas: '. button' 'price button' 'installation button' '. button';
  }
}

.summaryPrice,
.sidebarMobileBarPrice {
  color: var(--color-primary-100);
}

.summaryPrice {
  grid-area: price;
  align-self: end;
  margin-bottom: 0;
}

.summaryInstallation {
  grid-area: installation;

  @include bp-below(large) {
    .isDesktop {
      display: none;
    }
  }
}

.summaryButtonWrapper {
  width: fit-content;
  grid-area: button;
  align-self: center;
}

.list {
  height: fit-content;
  background-color: var(--color-black-100);
  border-radius: var(--border-radius-md);
  padding: var(--card-padding) var(--card-padding-sm) 0 var(--card-padding);
  grid-column: span 8;

  @include bp-below(large) {
    display: none;
  }

  &.isHidden {
    display: none;
  }
}

.isMobileOnly {
  @include bp(large) {
    display: none;
  }
}
