.container {
  padding: 0;

  @include bp(large) {
    --border-color: var(--color-white-20);

    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius-md);
  }
}

.content {
  padding: 110px 48px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp(large) {
    padding: 48px 0 75px;
    gap: 48px;
    align-items: center;
  }
}

.title {
  font-size: 36px;

  @include bp(large) {
    font-size: 48px;
    max-width: 50%;
    text-align: center;
  }
}

.chooseVehicleContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: var(--color-primary-100);

  @include bp(large) {
    border-radius: var(--border-radius-md);
  }
}

.chooseVehicleTitle {
  margin-bottom: 24px;
  font-size: 24px;

  @include bp(large) {
    display: none;
  }
}

.vehicleSelector {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  width: 100%;
  border-radius: var(--border-radius-md);
  background-color: var(--color-black-100);

  @include bp(large) {
    padding: 24px 48px;
  }
}

.select,
.button {
  width: 100%;
  min-height: 48px;
}
