.container {
  padding: 0;
  min-width: 0;

  @include bp(large) {
    --border-color: var(--color-white-20);

    padding: var(--card-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius-md);
    grid-column: span 7;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-global);
  padding: 80px var(--gap-global) 48px var(--gap-global);

  @include bp(large) {
    align-items: center;
    padding-top: var(--card-padding);
    padding-bottom: 48px;
  }
}

.title {
  text-align: center;
  margin-bottom: 0;

  @include bp(large) {
    max-width: 50%;
  }
}

.chooseVehicleContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: var(--color-primary-100);

  @include bp(large) {
    border-radius: var(--border-radius-md);
  }
}

.chooseVehicleTitle {
  margin-bottom: 24px;
  font-size: 24px;

  @include bp(large) {
    display: none;
  }
}

.vehicleSelector {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  gap: var(--gap-global);
  width: 100%;
  border-radius: var(--border-radius-md);
  background-color: var(--color-black-100);
}

.select,
.button {
  width: 100%;
}
