.wrapper {
  position: relative;
  z-index: var(--z-index-store-search);
  top: 0;
  height: var(--store-locator-mobile-form-height);
  background: var(--color-primary-100);
  transition: height 0.3s;

  @include bp(medium) {
    position: sticky;
    top: calc(
      var(--header-height) - var(--store-locator-desktop-form-header-height)
    );
    height: var(--store-locator-desktop-form-height);
    padding-block: 24px;
  }

  &.isFullScreen {
    @include bp-below(medium) {
      top: 0;
      height: calc(var(--vh) * 100);
      overflow: hidden;
      transition: height 0.3s 0.07s;
    }
  }

  @include bp(medium) {
    height: auto;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--store-locator-desktop-form-header-height);
  overflow: hidden;

  @include bp(medium) {
    align-items: flex-start;
  }
}

.heading {
  font-family: var(--font-secondary);
  font-size: 24px;
}

.goBack {
  position: absolute;
  left: 24px - 12px; // optical
  rotate: 180deg;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.isVisible {
    opacity: 1;
    pointer-events: all;
  }

  @include bp(medium) {
    display: none;
  }

  svg {
    display: block;
    scale: 1.5;
    flex-shrink: 0;
  }
}

.hidden {
  visibility: hidden;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: 8px;
  background: var(--color-black-100);

  @include bp(medium) {
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
  }
}

.searchPhraseWrapper {
  position: relative;

  @include bp(medium) {
    flex-grow: 4;
  }
}

.suggestions {
  position: relative;

  @include bp(medium) {
    position: absolute;
    z-index: var(--z-index-dropdown);
    left: 24px;
    right: 24px;
  }
}

.radius {
  @include bp(medium) {
    flex-grow: 1;
  }
}

.button {
  margin-top: 12px;
  height: 48px;
  text-align: center;

  @include bp(medium) {
    margin-top: 0;
  }
}

.suggestionList {
  position: absolute;
  left: -24px;
  right: -24px;
  padding: 0 0 24px;
  border-radius: 0 0 8px 8px;
  list-style-type: none;
  margin: 0;
  background: var(--color-black-100);
  z-index: var(--z-index-dropdown);
}

.suggestion {
  position: relative;
  padding: 8px 36px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0 24px;
  }

  &:hover::before {
    background: var(--color-white-10);
  }

  &::after {
    content: '';
    position: absolute;
    left: 24px;
    right: 24px;
    height: 1px;
    bottom: 0;
    background-color: var(--color-white-40);
  }
}

.line1 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white-100);
}

.line2 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 400;
  color: var(--color-white-60);
}
