.wrapper {
  position: relative;
  z-index: var(--z-index-store-search);
  top: 0;
  background: var(--color-primary-100);
  transition: height 0.3s;
  padding-block: 24px;

  @include bp(medium) {
    position: sticky;
    top: var(--header-height);
  }

  &.isFullScreen {
    @include bp-below(medium) {
      top: 0;
      height: calc(var(--vh) * 100);
      overflow: hidden;
      transition: height 0.3s 0.07s;
    }
  }

  @include bp(medium) {
    height: auto;
  }
}

.hidden {
  visibility: hidden;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: 8px;
  background: var(--color-black-100);

  @include bp(medium) {
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
  }
}

.searchPhraseWrapper {
  position: relative;

  @include bp(medium) {
    flex-grow: 4;
  }
}

.radius {
  @include bp(medium) {
    flex-grow: 1;
  }
}

.button {
  margin-top: 12px;
  height: 48px;
  text-align: center;
  width: 100%;

  @include bp(medium) {
    margin-top: 0;
    width: auto;
  }
}

.viewContainer {
  display: flex;
  transition: transform 0.3s;

  &.listMode {
    transform: translateX(0);
  }

  &.resultMode {
    transform: translateX(-100%);

    @include bp(medium) {
      transform: translateX(0);
    }
  }
}

.viewContent {
  flex-shrink: 0;
  width: 100%;
  padding-inline: var(--container-inline-padding);
}

.singleResult {
  padding: 24px;
  background: var(--color-black-100);
  border-radius: 16px;

  @include bp(medium) {
    display: none;
  }
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
