.formDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  gap: 24px;

  @include bp(medium) {
    padding: 0;
  }

  h3 {
    margin: 0;
  }
}

.submitButton {
  --block-padding: 16px;
  --only-icon-padding: 16px;
}
