.actionButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-global-sm);

  @include bp(medium) {
    justify-content: flex-end;
  }
}

.swiperButtons {
  display: none;
  gap: 8px;

  @include bp(medium) {
    display: flex;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.postContainer {
  display: flex;
  gap: var(--gap);
  width: calc(100% - 24px);
  height: 100%;

  @include bp(medium) {
    width: 100%;
  }
}

.swiper {
  overflow-x: visible;

  @include bp(medium) {
    overflow-x: clip;
  }
}
