.pageGrid {
  display: flex;
  flex-direction: column-reverse;

  @include bp(large) {
    display: grid;
    grid-template-columns: minmax(auto, 336px) auto;
    gap: var(--gap-global);
  }
}

.postGrid {
  flex-direction: column;
}
