.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
  width: 86%;
  max-width: 290px;

  @include bp(medium) {
    max-width: none;
    width: calc(100% / 3 - (2 / 3 * 24px));
    flex-grow: 1;
  }

  @include bp(large) {
    width: calc(100% / 4 - (3 / 4 * 48px));
  }
}

.video {
  aspect-ratio: 294/546;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
  background-color: var(--color-black-60);
}

.thumbnail {
  position: absolute;
  aspect-ratio: 294/546;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 300ms;

  &.isVisible {
    opacity: 1;
  }
}

.eventsCaptureArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cursorOnly {
  display: none;

  @media (hover: hover) {
    display: block;
  }
}

.touchOnly {
  display: block;

  @media (hover: hover) {
    display: none;
  }
}

.title {
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  transition: transform 200ms;

  .tile:hover & {
    transform: translateY(-5px);
  }
}
