.page {
  position: relative;
  z-index: 1;
  margin-top: -32px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    margin-left: 50%;
    width: 100vw;
    height: 100%;
    background: linear-gradient(
      0deg,
      transparent 30%,
      var(--color-black-100) 100%
    );
    z-index: -1;

    @include bp(large) {
      display: block;
      background: linear-gradient(
        0deg,
        transparent 80%,
        var(--color-black-100) 100%
      );
    }
  }
}

.title {
  @include bp(large) {
    margin: var(--content-padding-lg) 0 0 var(--content-padding-lg);
  }
}

.contentContainer {
  border-radius: var(--border-radius-md);
}

.content {
  padding-block: 0.1px;
  position: relative;
  background-color: transparent !important;

  @include bp(large) {
    padding: var(--content-padding-lg);
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    background-color: var(--color-black-100);
  }
}

.breadcrumbs > div {
  margin-block: 0;
}
