.container {
  padding-bottom: 28px;

  @include bp(medium) {
    padding-bottom: 48px;
  }
}

.post {
  position: relative;

  @include bp(large) {
    display: grid;
    grid-gap: 0 48px;
    grid-template-columns: 4fr 8fr;
    grid-template-areas:
      'infoArea contentArea'
      'infoArea contentArea';
  }
}

.breadcrumbsContainer {
  grid-area: breadcrumbArea;
}

.breadcrumbs {
  margin-top: 60px;

  @include bp(large) {
    margin-top: 0;
  }
}

.featuredImageContainer {
  grid-area: featuredImage;
  position: relative;
  z-index: var(--z-index-component);
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 342/293;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  max-height: 50vh;
  margin-bottom: var(--gap);

  @include bp(large) {
    aspect-ratio: 861/498;
    border-radius: 0 0 0 var(--border-radius-md);
  }
}

.featuredImage {
  object-fit: cover;
  object-position: center center;
}

.video {
  margin-bottom: var(--gap);
}

.title {
  @include bp(large) {
    margin-bottom: 0;
  }
}

.description {
  color: var(--color-white-80);

  @include bp(large) {
    padding: var(--content-padding-lg) var(--content-padding-lg) 0
      var(--content-padding-lg);
  }

  > :first-of-type {
    margin-top: 0;
  }

  > :last-of-type {
    margin-bottom: 0;
  }
}

.contentContainer {
  grid-area: contentArea;
  padding-top: 0.1px;

  @include bp(large) {
    height: fit-content;
    border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
    background: linear-gradient(
      0deg,
      var(--color-black-100) 70%,
      rgb(24 22 22 / 100%) 100%
    );
  }
}

.content {
  position: relative;

  @include bp(large) {
    padding: var(--content-padding-lg);
  }
}

.information {
  grid-area: infoArea;
  flex-direction: column;
  gap: 24px;
  height: min-content;

  @include bp(large) {
    position: sticky;
    top: var(--header-height);
    display: flex;
    padding: 0;
    gap: var(--gap);
  }
}

.relatedPostsContainer {
  display: none;

  @include bp(large) {
    display: block;
  }
}

.stickyTitle {
  font-size: 48px;
}

.relatedPostsContainerSticky {
  margin: 0;
}
