.container {
  display: none;
  gap: 8px;
  margin: 20px 0;
  color: var(--color-white-60);
  font-size: 14px;
  line-height: 1.5;
  align-items: center;

  @include bp(medium) {
    display: flex;
  }
}

.separator {
  color: var(--color-primary-100);
}

.itemLink {
  white-space: nowrap;

  &.current {
    font-weight: 600;
    color: var(--color-white-80);
  }
}
