.container {
  display: none;
  gap: 8px;
  margin-block: 24px;
  color: var(--color-white-60);
  font-size: 14px;
  line-height: 1.5;
  align-items: center;

  @include bp(large) {
    margin-block: 48px;
  }

  &.short {
    display: flex;

    @include bp(medium) {
      display: none;
    }
  }

  &.full {
    @include bp(medium) {
      display: flex;
    }
  }
}

.separator {
  color: var(--color-primary-100);
}

.itemLink {
  white-space: nowrap;

  &:hover {
    color: var(--color-white-100);
  }

  &.strong {
    font-weight: 600;
    color: var(--color-white-80);
  }
}

.prevSymbol {
  display: inline-block;
  width: 8px;
  aspect-ratio: 1;
  border-left: 2px solid var(--color-primary-100);
  border-bottom: 2px solid var(--color-primary-100);
  transform: translateY(-1px) rotate(45deg);
  margin: 0 12px 0 0;
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  user-select: none;

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--color-white-100);

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 3px;
      height: 7px;
      border: solid var(--color-white-100);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    pointer-events: none;

    &:checked {
      + .checkbox {
        background-color: var(--color-primary-100);
        border: solid var(--color-primary-100);
      }

      + .checkbox::after {
        display: block;
      }
    }
  }
}
