.post {
  position: relative;

  @include bp(large) {
    display: grid;
    grid-gap: 0 48px;
    grid-template-columns: 4fr 8fr;
    grid-template-areas: 'infoArea contentArea';
  }
}

.headerInfo {
  padding: 0 20px;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp(large) {
    padding: 0;
    display: none;
  }
}

.contentArea {
  grid-area: contentArea;
  margin-top: 60px;
}

.featuredImageContainer {
  position: relative;
  z-index: var(--z-index-component);
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 342/293;
  border-radius: 16px;
  overflow: hidden;
  max-height: 50vh;

  @include bp(large) {
    aspect-ratio: 861/498;
    border-radius: 16px 16px 0 0;
  }
}

.featuredImage {
  object-fit: cover;
  object-position: center center;
}

.information {
  display: none;

  @include bp(large) {
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: sticky;
    top: 120px;
    padding: 0;
  }
}

.title {
  font-family: var(--font-secondary);
  font-size: 48px;
  line-height: 1.33;
  margin-top: 0;

  @include bp(large) {
    margin-top: -48px;
    font-size: 64px;
    line-height: 1.25;
  }
}

.excerpt {
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;

  @include bp(large) {
    font-size: 24px;
    line-height: 1.41;
  }

  > :first-of-type {
    margin-top: 0;
  }

  > :last-of-type {
    margin-bottom: 0;
  }
}

.relatedPostsContainer {
  display: none;

  @include bp(large) {
    display: block;
    margin-top: 24px;
  }
}

.contentContainer {
  grid-area: contentArea;
  padding-top: 0.1px;
}

.content {
  padding: 0.1px 24px;
  position: relative;

  @include bp(large) {
    padding: (48px + 16px) 48px 48px;
    border-radius: 0 0 16px 16px;
    margin-top: -16px;
    background-color: var(--color-black-100);
  }
}

.stickySidebar {
  grid-area: unset;
  height: min-content;
}

.breadcrumbsMobile {
  @include bp(medium) {
    display: none !important;
  }
}
