.accountDetails {
  width: 100%;

  @media (width<=767px) {
    background: #fff;
    color: #000;
    padding: 10px 16px 16px;
    border-radius: 20px;
  }

  .info {
    .dRow {
      display: flex;
      align-items: center;
      border-bottom: solid 1px rgb(116 116 116 / 64%);
      padding: 20px 0;

      @media (width <=991px) {
        padding: 10px 0;
      }

      @media (width <=767px) {
        padding: 8px 0;
        display: block;
        position: relative;
      }

      .dTitle {
        width: 28%;
        font-size: clamp(16px, 2vw, 20px);
        font-family: var(--font-secondary);
        font-weight: 500;

        @media (width <=767px) {
          width: 100%;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 5px;
        }
      }

      .dDesc {
        width: 62%;
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 300;
        font-family: var(--font-hind);
        padding: 0 15px;
        line-height: 1.5;
        word-break: break-word;

        @media (width<=767px) {
          width: 88%;
        }

        input {
          background: transparent;
          color: #fff;
          padding: 0 0 5px;
          border: 0;
          border-bottom: solid 1px #fff;
          outline: none;
          width: 100%;

          @media (width<=767px) {
            color: #000;
            border: 0;
            padding: 0;
          }
        }

        @media (width <=767px) {
          padding: 0;
        }

        a {
          text-decoration: underline;

          &:hover {
            color: var(--color-primary-100);
          }
        }
      }

      .dAction {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .saveBtn {
          padding: 0;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 8px;

          @media (width<=767px) {
            color: #000;
            font-size: 0;
            gap: 0;
          }
        }

        @media (width<=767px) {
          position: absolute;
          right: 0;
          bottom: 5px;
          margin: auto;

          svg {
            path {
              fill: #000;
              fill-opacity: 1;
            }
          }
        }
      }
    }
  }

  .currentStatus {
    border-radius: 8px;
    background: var(--color-primary-100);
    color: #fff;
    margin: 34px 0 0;
    padding: 28px 40px;
    display: flex;
    font-size: clamp(16px, 2vw, 20px);
    gap: 20px;

    @media (width <=991px) {
      padding: 20px;
    }

    @media (width <=767px) {
      margin: 16px 0 0;
      padding: 10px;
    }

    .title {
      font-family: var(--font-secondary);
      font-weight: 600;
    }

    .date {
      font-weight: 300;
    }
  }
}
