.card {
  display: flex;
  flex-direction: column;
  padding-top: var(--gap);
  background-color: var(--color-black-100);
  border-radius: 16px;

  @include bp(large) {
    padding-top: var(--gap);
  }
}

.icon {
  margin-left: var(--gap);
  margin-bottom: 16px;

  @include bp(medium) {
    margin-bottom: var(--gap);
  }
}

.title {
  padding-left: var(--gap);
  color: var(--color-white-100);
}

.description {
  margin: 0 24px 24px;
  color: var(--color-white-80);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.imageContainer {
  margin-top: auto;
  align-self: flex-end;
  width: 100%;
  height: auto;
  aspect-ratio: 345/228;
  overflow: hidden;
  border-radius: 0 0 16px 16px;

  @include bp(large) {
    aspect-ratio: 636/169;
  }
}

.image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 6px;

  @include bp(medium) {
    margin-top: 0;
    margin-bottom: -5px;
  }
}
