.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 48px;
  margin: 48px 0;
  position: relative;

  @include bp(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp(large) {
    margin: 96px 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;

  @include bp(large) {
    padding: 0;
  }
}

.title {
  color: var(--color-white-100);
  margin-bottom: 24px;

  @include bp(large) {
    margin-bottom: 48px;
  }
}

.description {
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 1.2;

  @include bp(large) {
    font-size: 24px;
  }

  p {
    margin: 0 0 32px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
