.container {
  display: grid;
  gap: var(--gap);
  position: relative;

  @include bp(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include bp(medium) {
    padding: var(--content-padding-lg);
  }
}

.description {
  color: var(--color-white-80);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
