.alert {
  padding: 12px var(--card-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border-radius: var(--border-radius-sm);
  background: var(--color-white-5);
  color: var(--color-white-80);
}

.icon {
  color: var(--color-white-100);
}
