.mobileHeading {
  display: block;
  margin: 24px 0;

  .title {
    margin-bottom: 16px;
  }

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #eac068;
    font-size: clamp(14px, 1vw, 20px);
    font-family: var(--font-secondary);
    border-radius: 8px;
    border: solid 2px #919191;
    min-height: 40px;
    padding: 0 16px;
    white-space: nowrap;

    svg {
      max-height: 24px;
      max-width: 24px;
      width: 24px;
    }
  }

  @include bp(medium) {
    display: none;
  }
}

.featuredImage {
  height: 297px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin: 24px 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include bp(medium) {
    margin: 46px 0 72px;
  }
}

.aboutInfo {
  .aboutInfoContent {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include bp(medium) {
      flex-direction: row;
      gap: 50px;
    }

    .leftPart {
      .title {
        margin: 0 0 16px;
        display: none;

        @include bp(medium) {
          display: block;
        }
      }

      p {
        line-height: 1.25;
        font-size: clamp(16px, 1.14vw, 22px);
        margin: 12px 0;
      }

      @include bp(medium) {
        width: 70%;
      }
    }

    .rightPart {
      order: -1;

      button {
        margin-bottom: 10px;
      }

      @include bp(medium) {
        width: 30%;
        order: 2;
      }
    }
  }
}

.tradingHoursAndLinks {
  margin: 25px 0 0;
  display: flex;
  flex-flow: column;
  gap: 30px;

  @include bp(medium) {
    gap: 70px;
    flex-flow: row;
    align-items: center;
    margin: 55px 0 0;
  }

  .leftPart {
    .hrsBox {
      padding: 20px;
      border: 1px solid #d9d9d9;
      border-radius: 29px;

      @include bp(medium) {
        min-width: 400px;
        padding: 24px;
      }

      h4 {
        text-align: center;
        margin-bottom: 10px;
        font-size: clamp(18px, 1.35vw, 26px);
      }

      .day {
        display: flex;
        justify-content: space-between;
        margin: 2px 0;

        p {
          margin: 0;
          line-height: 1.5;
          font-size: clamp(16px, 1.14vw, 22px);
        }
      }
    }
  }

  .rightPart {
    order: -1;

    @include bp(medium) {
      order: 2;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: clamp(16px, 1.14vw, 22px);
        margin-bottom: 16px;
        line-height: 1.4;
        font-family: var(--font-secondary);
        font-weight: 600;

        @include bp(medium) {
          font-family: var(--font-primary);
          font-weight: 400;
        }

        &:last-child {
          margin-bottom: 0;
        }

        svg,
        img {
          max-width: 40px;
          max-height: 40px;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }

        @include bp(medium) {
          gap: 24px;
          margin-bottom: 30px;

          svg,
          img {
            max-width: 52px;
            max-height: 52px;
          }
        }
      }
    }
  }
}

.wysiwyg {
  color: var(--color-white-100);
}

.storeDisplaysSection {
  margin: 40px 0 0;
  border: solid 1px #919191;
  padding: 20px;
  border-radius: 17px;

  .toggle {
    border: solid 1px #f00;
  }

  @include bp(medium) {
    margin: 100px 0 0;
    padding: 32px;
  }
}

.galleryMain {
  margin-top: 40px;
  margin-bottom: 40px;

  & > div:first-child {
    max-width: 100%;
  }

  @include bp(medium) {
    margin-bottom: 62px;
  }
}
