@import '/styles/globals/helpers';

.button {
  --font-size: 24px;
  --icon-side-padding: 16px;
  --inline-padding: 24px;

  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: var(--font-size);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  padding: var(--vertical-padding)
    calc(var(--inline-padding) + var(--toggler-padding, 0px))
    var(--vertical-padding) var(--inline-padding);
  transition: var(--transition);
  color: var(--font-color);
  border-radius: var(--border-radius);
  background: var(--bg-color);
  gap: var(--gap);

  @media (hover: hover) {
    &:hover,
    .toggleContainer:hover + & {
      color: var(--hover-font-color);
      background: var(--hover-bg-color);
    }
  }

  &:focus {
    color: var(--hover-font-color);
    background: var(--hover-bg-color);
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }

  svg path {
    fill: currentcolor;
  }
}

.xsmall {
  --gap: 8px;
  --vertical-padding: 8px;
  --only-icon-padding: 8px;
  --inline-padding: 12px;

  font-size: 16px;
}

.small {
  --gap: 8px;
  --vertical-padding: 8px;
  --only-icon-padding: 8px;

  &.leftIcon {
    padding-left: var(--icon-side-padding);
  }

  &.rightIcon {
    padding-right: var(--icon-side-padding);
  }

  &.noText {
    padding: var(--only-icon-padding);
  }

  &.toggleable {
    --toggler-padding: 20px;
  }
}

.large {
  --gap: 12px;
  --vertical-padding: 16px;
  --only-icon-padding: 16px;

  @include bp(medium) {
    --vertical-padding: 20px;
    --only-icon-padding: 20px;
  }

  &.leftIcon {
    padding-left: var(--icon-side-padding);
  }

  &.rightIcon {
    padding-right: var(--icon-side-padding);
  }

  &.noText {
    padding: var(--only-icon-padding);
  }

  &.toggleable {
    --toggler-padding: 20px;
  }
}

.primary {
  &.lightBackground {
    --font-color: var(--color-white-100);
    --bg-color: var(--color-primary-100);
    --hover-font-color: var(--color-white-100);
    --hover-bg-color: var(--color-black-100);
  }

  &.darkBackground {
    --font-color: var(--color-white-100);
    --bg-color: var(--color-primary-100);
    --hover-font-color: var(--color-black-100);
    --hover-bg-color: var(--color-white-100);
  }
}

.secondary {
  outline: var(--border-size) solid var(--color-primary-100);
  outline-offset: calc(-1 * var(--border-size));

  &.lightBackground {
    --font-color: var(--color-black-100);
    --bg-color: transparent;
    --hover-font-color: var(--color-white-100);
    --hover-bg-color: var(--color-primary-100);
  }

  &.darkBackground {
    --font-color: var(--color-white-100);
    --bg-color: transparent;
    --hover-font-color: var(--color-white-100);
    --hover-bg-color: var(--color-primary-100);
  }
}

.tertiary {
  &.lightBackground {
    --font-color: var(--color-black-100);
    --bg-color: transparent;
    --hover-font-color: var(--color-black-100);
    --hover-bg-color: var(--color-black-5);
  }

  &.darkBackground {
    --font-color: var(--color-white-100);
    --bg-color: transparent;
    --hover-font-color: var(--color-white-100);
    --hover-bg-color: var(--color-white-10);
  }
}

.quaternary {
  --font-color: var(--color-primary-100);
  --hover-font-color: var(--color-primary-100);
  --bg-color: transparent;

  &.lightBackground {
    --hover-bg-color: var(--color-black-5);
  }

  &.darkBackground {
    --hover-bg-color: var(--color-white-10);
  }

  @media (hover: hover) {
    &:hover {
      --font-color: var(--color-primary-100);
    }
  }
}

.quinary {
  --font-color: var(--color-white-100);
  --bg-color: var(--color-white-5);
  --hover-bg-color: var(--color-white-10);

  svg path {
    fill: var(--color-primary-100);
  }
}

.senary {
  --font-color: var(--color-white-100);
  --bg-color: transparent;
  --hover-bg-color: var(--color-white-5);

  svg path {
    fill: var(--color-primary-100);
  }
}

.optionalToggleWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  align-items: center;
}

.toggleContainer {
  @include center;

  display: flex;
  height: 28px;
  padding: 0 8px;
  border-radius: 4px;
  margin-left: -36px;
  transform-origin: center center;
  transition: transform 400ms;

  @media (hover: hover) {
    background: var(--color-black-100);
  }

  &.isToggled {
    transform: rotate(180deg);
  }

  @media (hover: hover) {
    &:hover {
      background: var(--color-white-10);
    }
  }

  &[div] {
    pointer-events: none;
  }

  &[button] {
    pointer-events: all;
  }
}

.toggleIcon {
  pointer-events: none;
}

.footer {
  text-transform: capitalize;

  svg path {
    color: var(--color-primary-100);
    fill: var(--color-primary-100);
  }
}

.footerItem {
  --vertical-padding: 12px;
  --inline-padding: 24px;
  --font-size: 16px;
  --font-color: var(--color-white-100);
  --bg-color: var(--color-black-0);
  --hover-font-color: var(--color-primary-100);

  color: var(--font-color);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  font-weight: 400;
  padding: var(--vertical-padding) var(--inline-padding) var(--vertical-padding);

  &:hover {
    color: var(--hover-font-color);
    text-decoration: underline;
  }
}
