.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

.video {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
}

.backgroundGradient {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  min-height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--color-black-100) 90%
  );
  transform: translateX(-50%);
}

.content {
  position: relative;
  padding: 48px 24px;

  @include bp(medium) {
    justify-content: center;
    max-width: 50%;
  }
}

.title {
  color: var(--color-white-100);
  font-family: var(--font-secondary);
  font-size: 48px;
  line-height: 1.33;
  margin-bottom: 16px;

  @include bp(large) {
    font-size: 64px;
    line-height: 1.25;
    margin-bottom: 48px;
  }
}

.description {
  margin: 0 0 24px;
  color: var(--color-white-80);
  font-family: var(--font-primary);
  font-size: 20px;
  text-shadow: 0 0 6px rgb(0 0 0 / 90%);

  @include bp(large) {
    margin: 0 0 48px;
    font-size: 24px;
  }
}
