.container {
  scroll-margin-top: 30px;

  @include bp(medium) {
    scroll-margin-top: 200px;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  @include bp(medium) {
    margin-top: 64px;
    padding-bottom: 48px;
  }

  @include bp(large) {
    margin-top: 96px;
  }

  &.hideOnMobile {
    display: none;

    @include bp(medium) {
      display: block;
    }
  }
}

.headers {
  display: flex;
  overflow-y: auto;
  gap: 48px;
  margin-bottom: var(--gap);
}

.productAccordion {
  margin-left: calc(-1 * var(--container-inline-padding));
  margin-right: calc(-1 * var(--container-inline-padding));

  &.hideOnDesktop {
    @include bp(medium) {
      display: none;
    }
  }
}

.filled svg {
  fill: #e6002b;
}

.tab {
  color: var(--color-white-80);
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 0 0 8px;
  transition: var(--transition);
  margin-bottom: 0;

  @media (hover: hover) {
    &:hover {
      color: var(--color-white-90);
    }
  }
}

.activeTab {
  color: var(--color-white-100);
  border-bottom-color: var(--color-white-100);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.description {
  color: var(--color-white-80);

  @include bp(medium) {
    margin: 0;
  }
}

.featuresContainer {
  display: grid;
  gap: var(--gap-global-sm);

  @include bp(medium) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
  }
}

.featureItem {
  border-radius: var(--border-radius-md);
  background-color: var(--color-black-100);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.icon {
  margin: var(--content-padding-sm) 0 0 var(--content-padding-sm);

  @include bp(large) {
    margin: var(--content-padding) 0 0 var(--content-padding);
  }
}

.featureTitle {
  margin-bottom: var(--gap-global-xs);
}

.featureContent {
  padding: var(--content-padding-sm);

  @include bp(large) {
    padding-inline: var(--content-padding);
    padding-bottom: var(--content-padding);
  }
}

.videoFeature {
  flex-direction: column;

  @include bp(large) {
    flex-direction: row;
  }
}

.video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  aspect-ratio: 342/358;
  border-radius: 16px;

  @include bp(large) {
    width: 230px;
    height: auto;
  }
}

.imageFeature {
  flex-direction: column;
}

.image {
  width: auto;
  height: 154px;
  object-fit: cover;
  object-position: center;

  @include bp(large) {
    height: 166px;
  }
}

.wysiwyg {
  --border: 1px solid var(--color-white-40) !important;

  ul li {
    font-size: 16px;
    line-height: 1.37;
    margin-bottom: 0;
  }

  figure {
    margin: 0;
  }

  table {
    border-radius: 16px;
    overflow: hidden;

    tbody {
      border-radius: 16px;
      overflow: hidden;

      tr {
        background-color: transparent;

        td,
        th {
          border-left: var(--border);
          border-bottom: var(--border);
          border-top: 0;
          border-radius: 0;

          @include bp-below(large) {
            display: block;
            width: 100%;
            border-right: var(--border);
            border-top: var(--border);
            border-left: var(--border);
          }

          &:first-child {
            background-color: var(--color-black-5);

            @include bp(large) {
              background-color: transparent;
            }
          }

          &:last-child {
            background-color: var(--color-white-10);
            border-bottom: var(--border);

            @include bp(large) {
              background-color: transparent;
              border: 0;
              border-left: var(--border);
              border-right: var(--border);
              border-bottom: var(--border);
            }
          }

          strong {
            font-family: var(--font-secondary);
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
          }
        }

        &:first-child {
          border-radius: 16px;

          td:first-child {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border: var(--border);

            @include bp(large) {
              border-top-right-radius: 0;
              border-right: 0;
            }
          }

          td:last-child {
            border-top-right-radius: 0;
            border: var(--border);

            @include bp(large) {
              border-top-right-radius: 16px;
            }
          }
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: 0;
            border-left: var(--border);
            border-right: var(--border);

            @include bp(large) {
              border-radius: 0;
              border-bottom-left-radius: 16px;
            }
          }

          td:last-child {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;

            @include bp(large) {
              border-radius: 0;
              border-bottom-right-radius: 16px;
              border-bottom: var(--border);
              border-right: var(--border);
            }
          }
        }

        &:nth-child(odd) {
          background-color: transparent;

          @include bp(large) {
            background-color: var(--color-white-10);
          }
        }
      }
    }
  }
}

.manualsContainer {
  display: grid;
  gap: 24px;
}

.inputGroup {
  margin-bottom: 20px;

  @media (width<=767px) {
    margin-bottom: 16px;
  }

  label {
    font-size: 15px;
    color: #000;
    display: block;
    margin-bottom: 8px;

    @media (width<=767px) {
      font-size: 14px;
    }

    .reqStar {
      color: #e02b27;
    }
  }

  input[type='text'],
  input[type='phone'],
  input[type='email'] {
    min-height: 36px;
    border-radius: 8px;
    border: solid 1px #4b4b4b;
    width: 100%;
    padding: 0 12px;
    outline: none;
  }

  input[type='file'] {
    min-height: 36px;
    border-radius: 8px;
    border: solid 1px #4b4b4b;
    width: 100%;
    padding: 5px 12px;
    outline: none;
    color: #000;
  }

  textarea {
    width: 100%;
    border: solid 1px #4b4b4b;
    border-radius: 8px;
    min-height: 120px;
    padding: 12px;
    font-size: 16px;
    font-family: var(--font-primary);
    resize: vertical;

    @media (width<=767px) {
      font-size: 14px;
    }
  }
}

.reviewWrap {
  .heading {
    margin-bottom: 16px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;

    .reviewButton {
      background: #fff;
      color: #181616;
      font-family: var(--font-primary);
      font-size: 16px;
      border: solid 1px #ed2935;
      border-radius: 16px;

      &:hover {
        background: var(--color-primary-100);
        color: #fff;
      }

      @media (width<=767px) {
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 8px;
        min-height: 36px;
      }
    }

    .pWrap {
      background: #fff;
      border: solid 1px #ed2935;
      border-radius: 16px;
      display: flex;
      padding: 16px;
      align-items: flex-start;
      gap: 8px;

      @media (width<=767px) {
        border-radius: 8px;
        font-size: 14px;
        white-space: nowrap;
        padding: 10px 15px;
      }

      .customSelectBox {
        color: #181616;
        width: 100%;
        cursor: pointer;
        position: relative;

        .selectedOption {
          position: relative;
          padding: 0 25px 0 0;

          &::after {
            content: '';
            height: 10px;
            width: 10px;
            border-left: solid 2px #ed2935;
            border-bottom: solid 2px #ed2935;
            transform: rotate(-45deg);
            position: absolute;
            right: 3px;
            top: 0;
            pointer-events: none;

            @media (width<=767px) {
              height: 7px;
              width: 7px;
            }
          }
        }

        &.open {
          .selectedOption {
            &::after {
              transform: rotate(135deg);
              top: 6px;
            }
          }
        }

        .optionsList {
          margin: 0 0 0 -65px;
          position: absolute;
          background: #fff;
          z-index: 1;
          width: 100%;
          min-width: 200px;
          right: -18px;
          padding: 10px 15px;
          border-radius: 16px;
          border: solid 1px var(--color-primary-100);
          top: 35px;

          @media (width<=767px) {
            margin: 0;
            top: 30px;
          }

          li {
            list-style-type: none;
            line-height: 1.5;
            padding: 2px 0;
            cursor: pointer;

            &:hover {
              color: var(--color-primary-100);
            }
          }
        }
      }

      .title {
        font-weight: 600;
        color: #181616;
        position: relative;
        white-space: nowrap;
      }

      .selectBox {
        position: relative;
        width: 100%;

        select {
          background: no-repeat;
          border: 0;
          appearance: none;
          width: 100%;
          outline: none;
        }

        .arrow {
          height: 12px;
          width: 12px;
          border-left: solid 2px #ed2935;
          border-bottom: solid 2px #ed2935;
          transform: rotate(-45deg);
          position: absolute;
          right: 4px;
          top: 0;
          pointer-events: none;
        }
      }
    }
  }

  .noReviews {
    h3 {
      text-align: center;
      margin: 40px 0 15px;

      @include bp(medium) {
        margin: 60px 0 15px;
      }
    }
  }

  .reviewForm {
    background: #fff;
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 24px;

    @media (width<=767px) {
      padding: 20px;
    }

    h2 {
      color: var(--color-primary-100);
      margin-bottom: 25px;
    }

    .formRow {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .colHalf {
        width: 50%;
        padding: 0 10px;

        @media (width <=480px) {
          width: 100%;
        }
      }

      .colFull {
        width: 100%;
        padding: 0 10px;
      }

      .submitBtn {
        margin-top: 10px;

        @media (width<767px) {
          margin: 0;
        }

        button {
          border: solid 1px var(--color-primary-100);

          @media (width<767px) {
            font-size: 16px;
            min-height: 38px;
            padding: 0 15px;
          }
        }
      }
    }

    .submitBtn {
      margin: 0;

      .inputGroup {
        margin: 0;

        button {
          border: solid 1px var(--color-primary-100);
        }
      }
    }
  }
}

.reviewBox {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 16px;
  display: flex;
  flex: 1;

  @media (width<=480px) {
    flex-flow: column;
    gap: 30px;
  }

  .left {
    flex: 1;
    margin-right: 24px;
    display: flex;
    flex-flow: column;

    @media (width<=480px) {
      margin-right: 0;
    }

    .reviewAuthor {
      margin-top: auto;
    }
  }

  .right {
    width: 25%;

    @media (width<=480px) {
      width: 100%;
    }

    figure {
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      margin: 0;
      line-height: 0;
      padding-bottom: 63.5%;
      cursor: pointer;

      img {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover !important;
      }
    }
  }

  .desc {
    margin: 15px 0 24px;
    overflow: auto;
    max-height: 160px;
    scrollbar-color: #ccc #fff;
    scrollbar-width: thin;

    @media (width<=480px) {
      margin: 13px 0 10px;
    }

    p {
      margin: 0 0 10px;
      color: rgb(0 0 0 / 70%);
      line-height: 1.2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .reviewAuthor {
    margin-top: 12px;
    color: rgb(0 0 0 / 50%);

    p {
      color: #000;
      margin: 0;

      strong {
        font-weight: 600;
      }
    }

    span {
      display: block;
      margin-top: 8px;
      color: var(--color-primary-100);
      font-size: 14px;
      line-height: 1.3;
    }
  }
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonToggle {
  margin-left: auto;

  svg {
    transform: rotate(90deg);
  }

  &.isActive {
    margin-left: 0;

    svg {
      transform: rotate(-90deg);
    }
  }

  @include bp(medium) {
    margin-top: 0;
  }
}

.thumbnails {
  border: solid 10px #f00;

  .thumbnail {
    .placeholder {
      display: none !important;
    }
  }
}

.reviewModalOverlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 80%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.reviewModal {
  display: flex;
  background: white;
  border-radius: 12px;
  max-width: 1000px;
  width: 90%;
  overflow: hidden;
  padding: 0;

  @include bp-below(small) {
    flex-direction: column-reverse;
    gap: 0;
  }

  .modalLeft {
    flex: none !important;
    width: 55%;
    padding: 40px;

    @include bp-below(small) {
      width: 100%;
      padding: 20px;
    }
  }

  .modalRight {
    width: 45%;
    font-size: 0;

    @include bp-below(small) {
      width: 100%;
    }

    div {
      img {
        object-fit: cover !important;

        // max-height: 250px !important;
      }
    }
  }
}
