.wrapper {
  border: 2px solid var(--color-white-20);
  border-radius: 16px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-global-sm);
  padding: var(--card-padding-sm);
  border-radius: var(--border-radius-sm);

  @include bp(large) {
    padding: var(--content-padding-lg);
  }
}

.results {
  height: auto;
  max-height: 600px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.productsPrice {
  margin-bottom: 0;
}

.installationPrice {
  color: var(--color-primary-100);
  margin-bottom: 0;
}

.buttonWrapper {
  button {
    width: 100%;
  }
}

.submitButton {
  width: 100%;

  @include bp(medium) {
    width: fit-content;
  }
}

.showMoreWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.showMoreButton {
  font-size: 18px;
  line-height: 28px;
  padding-block: 0;
}
