.wrapper {
  border: 2px solid var(--color-white-20);
  border-radius: 16px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-global-sm);
  padding: 20px;
  border-radius: var(--border-radius-sm);

  @include bp(large) {
    padding: 25px;
  }

  button {
    padding-top: 10px;

    label {
      left: 0 !important;
    }
  }
}

.results {
  height: auto;
  max-height: 600px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.productsPrice {
  margin-bottom: 0;
}

.installationPrice {
  color: var(--color-primary-100);
  margin-bottom: 0;
}

.buttonWrapper {
  display: flex;
  flex: 1;
  gap: 10px;

  button {
    width: 100%;
  }

  @media (width <=480px) {
    flex-wrap: wrap;
  }
}

.showMoreWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.showMoreButton {
  font-size: 18px;
  line-height: 28px;
  padding-block: 0;
}

.locationBlock {
  display: block;
}

.stockStatus {
  display: flex;
  align-items: center;

  .qtyBlock {
    margin-right: 13px;
    max-width: 94px;
    position: relative;

    .plus {
      font-weight: 500;
      font-size: 27px;
      position: absolute;
      right: 2px;
      z-index: 11;
      cursor: pointer;
      padding: 0 5px;
      top: 3px;
      color: #000;
    }

    .minus {
      font-weight: 500;
      font-size: 22px;
      position: absolute;
      left: 3px;
      z-index: 11;
      cursor: pointer;
      padding: 0 5px 12px;
      top: -4px;
      color: #000;
    }

    input {
      width: 100%;
      background: #fff;
      border: none;
      min-height: 31px;
      border-radius: 5px;
      color: #000;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      height: 31px;
      line-height: 22px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }

  .statusInstock {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: #27ae60;

    &::before {
      height: 5px;
      width: 5px;
      border-radius: 100%;
      margin-right: 8px;
      content: '';
      background: #27ae60;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .statusOutOfstock {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: #f76057;

    &::before {
      height: 5px;
      width: 5px;
      border-radius: 100%;
      margin-right: 8px;
      content: '';
      background: #f76057;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
