.wrapper {
  border: 2px solid var(--color-white-20);
  border-radius: 16px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-global-sm);
  padding: 20px;
  border-radius: var(--border-radius-sm);

  @include bp(large) {
    padding: 25px;
  }

  button {
    padding-top: 10px;

    label {
      left: 0 !important;
    }
  }
}

.results {
  height: auto;
  max-height: 600px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.productsPrice {
  margin-bottom: 0;
}

.installationPrice {
  color: var(--color-primary-100);
  margin-bottom: 0;
}

.buttonWrapper {
  display: flex;
  flex: 1;
  gap: 10px;

  button {
    width: 100%;
  }

  @media (width <=480px) {
    flex-wrap: wrap;
  }
}

.showMoreWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.showMoreButton {
  font-size: 18px;
  line-height: 28px;
  padding-block: 0;
}

.cartMain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .cartWrapper {
    background-color: #000;
    padding: 30px;
    border-radius: 24px 0 0 24px;
    width: 100%;
    border: solid 24px var(--color-primary-100);
    max-height: 100vh;
    overflow: auto;
    transition: 0.5s all;
    transform: translateX(100%);

    @media (width <=767px) {
      border-width: 12px;
      padding: 20px;
    }

    h2 {
      color: var(--color-primary-100);
      margin-bottom: 25px;
      font-size: clamp(40px, 2.4vw, 48px);
    }

    .cartTitle {
      color: var(--color-primary-100);
      font-size: clamp(40px, 2.5vw, 48px);
    }

    .cartSubmitButton {
      width: 100%;
      font-size: 16px;
      min-height: 40px;
      height: 40px;
      letter-spacing: 0.5px;

      svg {
        transform: rotate(180deg) scale(0.45);
        margin: 0 0 0 -13px;
      }
    }

    .dismissButton {
      margin-top: 15px;
      border: solid 1px var(--color-primary-100);
      background: #000;
      width: 100%;
      font-size: 16px;
      min-height: 40px;
      height: 40px;

      &:hover {
        background: var(--color-primary-100);
        color: var(--color-white);
      }
    }

    .cartTotal {
      font-size: 16px;
      font-weight: 700;
      font-family: var(--font-primary);
      margin: 50px 0 15px;
    }

    &.slideIn {
      /* End state: Visible on the screen */
      transform: translateX(0);
    }
  }

  .cartItem {
    display: flex;
    margin-bottom: 30px;

    .listImg {
      width: 50px;

      img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 10px;
      }
    }

    .itemInfo {
      padding: 0 0 0 15px;
      width: 100%;
      max-width: 234px;

      h6 {
        font-size: 11px;
        font-family: var(--font-primary);
        font-weight: 400;
        margin-bottom: 6px;
        line-height: 1.3;
      }

      .itemPrice {
        font-weight: 700;
        font-size: 16px;
        font-family: var(--font-secondary);
        color: var(--color-primary-100);
        margin-bottom: 10px;

        del {
          color: #fff;
          margin-left: 10px;
        }
      }

      .itemBottom {
        display: flex;
        align-items: center;

        .qtyBlock {
          margin-right: 13px;
          max-width: 66px;
          position: relative;

          .plus {
            font-weight: 500;
            font-size: 23px;
            position: absolute;
            right: 0;
            z-index: 11;
            cursor: pointer;
            padding: 0 5px;
            top: 1px;
          }

          .minus {
            font-weight: 500;
            font-size: 22px;
            position: absolute;
            left: 0;
            z-index: 11;
            cursor: pointer;
            padding: 0 5px 12px;
            top: -7px;
          }

          input {
            width: 100%;
            background: #333;
            border: none;
            min-height: 22px;
            border-radius: 5px;
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            height: 22px;
            line-height: 22px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              appearance: none;
              margin: 0;
            }
          }
        }

        .removeLink {
          font-weight: 500;
          text-decoration: underline;
          color: var(--color-primary-100);
          transition: 0.5s all;
          font-size: 14px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.locationBlock {
  display: block;
}

.stockStatus {
  display: flex;
  align-items: center;

  .qtyBlock {
    margin-right: 13px;
    max-width: 94px;
    position: relative;

    .plus {
      font-weight: 500;
      font-size: 27px;
      position: absolute;
      right: 2px;
      z-index: 11;
      cursor: pointer;
      padding: 0 5px;
      top: 3px;
      color: #000;
    }

    .minus {
      font-weight: 500;
      font-size: 22px;
      position: absolute;
      left: 3px;
      z-index: 11;
      cursor: pointer;
      padding: 0 5px 12px;
      top: -4px;
      color: #000;
    }

    input {
      width: 100%;
      background: #fff;
      border: none;
      min-height: 31px;
      border-radius: 5px;
      color: #000;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      height: 31px;
      line-height: 22px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }

  .statusInstock {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: #27ae60;

    &::before {
      height: 5px;
      width: 5px;
      border-radius: 100%;
      margin-right: 8px;
      content: '';
      background: #27ae60;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .statusOutOfstock {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: #f76057;

    &::before {
      height: 5px;
      width: 5px;
      border-radius: 100%;
      margin-right: 8px;
      content: '';
      background: #f76057;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
