.button {
  margin-top: 12px;
  height: 48px;
  text-align: center;
  width: 100%;

  @include bp(medium) {
    margin-top: 0;
    width: auto;
  }
}

.mobileOnly {
  @include bp(medium) {
    display: none;
  }
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
